[2019-11-07 13:45] activey commented on #823
@elbatk what "more info" are you refering to? There is nothing in the issue you are pointing out ...

[2019-11-07 13:48] activey commented on #828
What is the status of this one? I'm going in a circle between all the other issues referenced! Hello?!

[2019-11-07 19:24] chicoboymax commented on #847
I have the same problem, in my case I want to publish an artifact. Did you find a way around this issue ?

[2019-11-08 22:50] jopham-sage opened #876 "[New command] Command to cancel build pipeline"
Is there a command line to cancel build pipeline?  I know we can run the pipeline but I want to cancel it also.  Thanks

[2019-11-09 14:55] awegg opened #877 "[Bug] az artifacts universal download is ignoring path setting"
**Describe the bug**
When I am downloading an universal package the path setting is ignored. The download always goes into the directory where the file got published from.

**To Reproduce**
Azure Cli Version: 2.0.76
Azure-Devops extension version: 0.14.0

Steps to reproduce the behavior:
1. login using az login
2. az artifacts universal download --organization "***" --feed "****" --name "file" --v

[2019-11-09 15:03] awegg commented on #877
As soon as I protect the directory where I published the file from, I'm getting an exception from the artifacttool.
Want to download to c:\temp but excpetion is coming from c:\temp\Out\... Directory. The "Out" Directory was the directory where I published it from.

Command: `az artifacts universal download --organization "" --feed "*" --name "file" --version "0.0.1" --path "c:\temp"`

End of Log:

[2019-11-10 13:50] softwarecraft commented on #870
The concern I have is not simply with the one command "banner add" but rather with the overall design and understanding of this feature. As you say, only the most recently added banner is active/displayed and you can't enable/disable prior banners, although you can list them. Therefore the intent of "add" is not intuitive.

Suggest you make this more explicit with an explanation at the top of the

[2019-11-11 07:56] atbagga commented on #851
@mildsar Closing the issue since this is now the accepted behavior in Azure CLI. You will have to handle your powershell script task in the Azure pipeline run to honor the behavior and fail on exit code rather than on stderr prints.

If you still feel there is a valid issue here please feel free to open a new issue.

[2019-11-11 07:56] #851 closed

[2019-11-12 05:28] atbagga commented on #873
@iandvt Can you please share the steps for repro to help us debug this further.
Thanks!

[2019-11-12 08:25] ishitam8 commented on #762
@BenjaminHerbert  ,

I am not sure why running the source command and restarting worked for you.
Since, the keyring library in linux uses different backends for different flavors of linux, users can run into different issues depending on their OS.

Currently we store credentials in file created in user home directory when secure keyring is **not available** on linux systems.
In your case, **secure

[2019-11-12 16:17] liamehenderson opened #878 "[Bug] az devops login using PAT fails to use Keyring to save the PAT in the CredentialStore"
**Describe the bug**
We currently use the extension to automatically raise Pull Requests during a YAML build process. The recent release of 0.14.0 has now caused our builds to fail during the listing and creation of Pull Requests (`az repos pr list` and `az repos pr create`). We have reverted to version 0.13.0 of the extension that seems to resolve the issue.

**To Reproduce**
Azure Cli Version:
a

[2019-11-13 06:19] atbagga commented on #878
@liamehenderson Thanks for reporting the issue in detail!
We will fix it ASAP.

[2019-11-13 07:27] danieldaeschle commented on #874
Any feedback?

[2019-11-13 07:48] atbagga commented on #866
@chaitanyagm  Right now there is no way to automate the creation of classic release definition. You will need to create the definition and then you can Queue a Release run using az pipelines release create command.

It is possible to automate the new [yaml pipeline definitions](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema) (this is what you are

[2019-11-13 08:07] ishitam8 commented on #824
Docs are now updated, thanks

[2019-11-13 08:07] #824 closed

[2019-11-13 08:46] #878 closed

[2019-11-13 08:47] atbagga commented on #878
Fixed in version 0.15.0. Will be released within this week.

[2019-11-13 09:07] atbagga commented on #853
@cforce  Here is the latest documentation on the APIs related to agent management. Please see if something fits your need here - https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/agents?view=azure-devops-rest-6.0.

Let me know if it helps.

[2019-11-13 09:09] liamehenderson commented on #878
Great! Thanks for the quick turnaround 👍

[2019-11-13 09:17] atbagga commented on #797
@saiprasanthrajavarapu  Did  David's workaround help?

[2019-11-13 11:53] atbagga commented on #858
@davidtorosyan Did you try these from within the virtual environment?
[code]
I tried the dev setup instructions on a fresh windows VM and it seems to work for me. I will look into the dev setup instructions to make it better.

For temporary workaround you can build the extension wheel with the changes and install it locally to test it, if you want.

## Build a wheel
In azure-devops-cli-extension/a

[2019-11-13 13:15] idiocache commented on #828
Also impacting RHEL 7.7

[2019-11-13 16:17] josequeiros opened #883 "Can't download a zip file from feed (2MB only and stays on "downloading..." forever)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.13.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2019-11-13 16:47] #883 closed

[2019-11-13 16:49] josequeiros commented on #883
This is probably a service temporary issue, and I've just realized this is just for issues with the tool itself. Disregard this. Thank you.

[2019-11-14 12:25] geverghe commented on #869
@ishitam8 - could you help me understand the support limitations here?

[2019-11-14 15:25] geverghe commented on #870
@softwarecraft

or it could mean

but this didn't work, the current banner remained the active one and the old banner was not activated

I have tackled the first half of the issue in https://github.com/Azure/azure-cli/issues/11047

For this, would the current explanatory text along with this link - https://docs.microsoft.com/en-us/azure/devops/organizations/settings/manage-banners?view=azure-devop

[2019-11-14 15:51] geverghe commented on #876
@atbagga - do we have an api for this?

[2019-11-14 15:52] geverghe commented on #872
@MaurGi - I am closing this issue. Please feel free to reopen the issue in case you need additional clarification.

[2019-11-14 15:52] #872 closed

[2019-11-14 17:10] jopham-sage commented on #876
@geverghe Hi am looking for Azure Dev Ops CLI command to cancel build pipeline.  There's a delete CLI command but I think that's deleting the build.   I haven't tried that command but I'll test and see.  Thanks.

[2019-11-15 05:17] geverghe commented on #876
So there are two elements - there is a build definition delete and there is a build delete. I think this build delete corresponds to canceling the build run. You can potentially give it a shot with az devops invoke to run this api till we build a command

[2019-11-15 05:22] geverghe commented on #876
Looks like delete, as the verb indicates, deletes the run and therefore stopping the run. However, I think your use case is just cancel. @atbagga is looking into the update API and will get back to you on the API that can be used via `invoke` till we build a full fledged command.

[2019-11-15 05:40] geverghe commented on #866
I am closing this issue as the query seems to be answered. However, feel free to raise a feature request issue for creating a release. The reactions/community engagement on the issue will help us prioritize the same.

[2019-11-15 05:40] #866 closed

[2019-11-15 05:45] geverghe commented on #825
Makes sense. @ishitam8 - including this in the planned lane to ensure this goes in the next release.

[2019-11-15 05:49] geverghe commented on #762
Closing this issue since we have tackled this by including a fallback, even if keyring is not available/accessible. This is available in the latest release v0.15.0

[2019-11-15 06:14] geverghe commented on #762
Apologies - the fix did not make it 0.15.0. It is planned for the next one.

[2019-11-15 06:26] geverghe commented on #869
Removing the bug tag since the functionality is intentional, but the documentation seems to be lacking.

[2019-11-15 06:28] geverghe commented on #870
Removing the bug tag, since this seems to be a documentation /messaging issue rather than a functional problem.

[2019-11-15 06:32] geverghe commented on #873
Closing this due to lack of information to reproduce on our end. @iandvt - feel free to reopen the issue when you have more information that can help us debug the issue.

[2019-11-15 06:32] #873 closed

[2019-11-15 06:35] atbagga commented on #878
New version is released with the fix.

[2019-11-15 08:02] atbagga opened #886 "Fix pytest errors from the latest pytest (5.2.3) and enable latest version"
Due to following failure - https://dev.azure.com/ms/azure-devops-cli-extension/_build/results?buildId=49404&view=results

Downgrading the pytest version to the latest one supported on both python 2.7 and latest python.

[2019-11-15 09:42] atbagga commented on #876
@jopham-sage The API for cancelling the build is documented [here](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/update%20build?view=azure-devops-rest-5.1).

[code]

You can use the following command as a workaround for the time being until this issue is prioritised and we add a command in CLI for the same.

[code]
Content in patch.txt -
[code]

[2019-11-15 10:50] ishitam8 commented on #869
@softwarecraft ,

I don't think complete formatting capabilities are available for message banners.
**Can you please tell me the exact message you were looking for to be rendered**?
I can check with the concerned team and ask them if there is any workaround.

Thanks

[2019-11-15 11:12] ishitam8 commented on #836
Hi @jfpanisset ,

Currently there is no plan to support the first two options, but we are planning to support rest of theb options:
--build-prs-from-forks true/false
--fork-build-secrets-access true/false
--require-comment-all-pr
--require-comment-non-team-member-pr

@geverghe @atbagga

[2019-11-15 11:17] ishitam8 opened #887 "Improve security tokens documentation"
Need more clarifications and formatting for security tokens related to iteration namespace

[2019-11-15 11:21] geverghe commented on #887
Could you add more clarity?

[2019-11-15 11:28] ishitam8 commented on #887
Since iteration is a hierarchical namespace with no project GUID, token explanation of the same is confusing. It needs to be more elaborate, that's all

[2019-11-15 12:52] BoSoeborgPetersen commented on #477
Can't you release an preview just like with AKS preview features that were associated by an Azure-Cli preview?

[2019-11-15 22:58] jfpanisset commented on #836
That would be sufficient for my current needs, I'm mostly interested in secrets access from forks. Thank you very much!

[2019-11-18 05:03] atbagga commented on #477
@BoSoeborgPetersen Preview features still require the API to be exposed publically even if it is released in preview mode. So we will have to wait for the API release before we can introduce these commands.

If you still need to automate something related.. you can checkout the API being called from the UI and use CLI ```az devops invoke``` command to send the same request from CLI.

[2019-11-18 07:54] #822 closed

[2019-11-18 08:23] #762 closed

[2019-11-18 08:36] BoSoeborgPetersen commented on #477
@atbagga Okay, fair enough, thanks for the info.

I am not using Azure DevOps Server, so how would you suggest that I "checkout the API being called from the UI"?

[2019-11-18 08:41] atbagga commented on #477
@BoSoeborgPetersen Networks tab in the browser developer tools windows.
e.g. here is a screenshot from chrome..

![image](https://user-images.githubusercontent.com/11888714/69037109-3b105480-0a0d-11ea-8911-8661bb48c9b3.png)

[2019-11-18 13:33] hakonrossebo commented on #871
I'm experiencing the same issue. Is there any workarounds for this until the bug is fixed?

[2019-11-19 10:04] #825 closed

[2019-11-19 11:34] muru03 opened #891 "az artifacts universal download not working behind proxy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I am working behind a corporate proxy.
I am using below enviroment variables.
http_proxy: username:passoword@proxy.com:1234
https_proxy: username:passoword@proxy.com:1234
az login works fine. But the below command fails

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.

[2019-11-19 16:40] BoSoeborgPetersen commented on #477
@atbagga Thank you very much.

I figured out that to perform CRUD operations on environments using 'az devops invoke' either:
`az devops invoke --area distributedtask --resource environments --route-parameters project=<project> [enviromentId=<id>] --http-method <CRUD> --api-version 6.0-preview -o json --in-file <config_file_path>.json`
or:
`az devops invoke --area environments --resource environme

[2019-11-19 18:35] NenoLoje commented on #778
Are there plans to support TFS/DevOps Server with the CLI Extension?

[2019-11-20 00:17] mark4code commented on #766
@elbatk  So if I'm understanding the current state of affairs... the UI in Azure DevOps only creates project scoped feeds now, but the CLI doesn't support uploading Universal Packages to those feeds? Am I getting that correctly?
Thus the net of the situation is that you can't currently build pipelines that publish artifacts to feeds without either 1) going against the MS recommendation and creatin

[2019-11-20 08:21] hakonrossebo commented on #871
As discussed in #776 , this could be related to McAfee as I also have this installed without the possibility to turn this off or change settings.

[2019-11-20 15:21] pspill commented on #766
@mark4code A new version of the Azure DevOps extension for the the CLI has been release that supports publishing to and downloading from project scoped feeds.  You can update your extension with `az extension update --name azure-devops`. Also see [here.](https://docs.microsoft.com/azure/devops/artifacts/quickstarts/universal-packages?view=azure-devops&tabs=azuredevops#prerequisites)

[2019-11-21 07:19] ishitam8 commented on #848
The inheritPermissions flag is associated with a token or a resource rather than a group or identity.
**So, when you change inheritPermssions flag for a token, it will be reflected for every group or users already added or are going to be added in future.**

These requires commands related to update/delete/list Access control lists.
Currently all our commands are associated with modifying an entry

[2019-11-21 07:19] #848 closed

[2019-11-21 08:16] ishitam8 commented on #887
PR tracked [here]( https://github.com/MicrosoftDocs/azure-devops-docs-pr/pull/520)

[2019-11-21 17:06] carlos-ricciardi opened #892 "az devops invoke wit workitems not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops invoke
Extension Name: azure-devops. Version: 0.15.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az devops invoke --area wit --resource workitems --route-paramet

[2019-11-21 17:13] mark4code commented on #766
@pspill Then is the remaining gap on the Universal Packages task within the Azure DevOps plugins? I had thought that once the CLI supported the functionality that the task would have inherited that enhancement, but it appears that the Universal package task fails when attempting to publish to a project scoped feed.
Also, (sorry if it's a little off topic) is the Azure Atrifacts team working on an

[2019-11-21 17:30] carlos-ricciardi commented on #892
I think the problem is happening because the code isn't matching the correct location.route_template. When I call it with --debug I can see that is trying to match:
azext_devops.devops_sdk.client : Route template: {project}/_apis/{area}/{resource}/${type}

Instead of: {project}/_apis/{area}/{resource}/{id}

The one that has id is for get work item:
https://docs.microsoft.com/en-us/rest/api/azure/d

[2019-11-22 05:29] ishitam8 commented on #892
Thanks for logging the bug @carlos-ricciardi .
We will look into the this.

Just curious, why are you using invoke command when there is a show by id command for work-item.
Did you try?
`az boards work-item show --id <WORK-ITEM-ID> -p PROJECT --org <ORG-URL>`

[2019-11-22 05:50] carlos-ricciardi commented on #892
Thank you for the reply!

I know about this command. The problem is that this command doesn't return the _links property and the rest api call does, If you could include this property in the return from az boards work-item show command would be even better :-)

Thanks a lot for the support,
Carlos.

[2019-11-22 08:28] geverghe commented on #814
Hey @olandese - I have included the documentation here - https://docs.microsoft.com/en-us/azure/devops/cli/auto-detect-and-git-aliases?view=azure-devops#parameter-hierarchy.  This is the portion where we explain about auto detect concept and thought it would be the best place to include the details pertaining to parameter priority as well. I am closing this issue.

[2019-11-22 08:28] #814 closed

[2019-11-22 16:29] iandvt commented on #873
@atbagga - The authentication is my example comes from the `service connection` parameter and is of type GitHub. I believe the rate limit occurs because this `service connection` is treated as singleton and referenced across my organizations Azure DevOps Project for Pipelines, Releases, etc.

[2019-11-22 22:02] ironyman opened #894 "az devops login failed"
This is the command that's failing.
[code]
I went to https://msazure.visualstudio.com/_usersSettings/tokens and generated a new token. Still doesn't work.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops login
Extension Name: azure-devops. Version: 0.12.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. No

[2019-11-23 16:42] olandese commented on #814
Great work! thank you for listening :)

[2019-11-23 23:07] gintuoklis opened #895 "[Feature Request] Allow to specify yml file from local pc while creating new pipelines"
**Is your feature request related to a problem? Please describe.**
I would like to create build pipelines for all repositories in my project. If i use az pipelines CLI, I still have to choose some options manually, and it's not possible to script the process

**Describe the solution you'd like**
Please add possibility to specify yaml file from my local drive and make entire process scriptable.

Be

[2019-11-24 07:50] jfpanisset commented on #808
Same here, would like to be able to automate the creation of agent pools to add my own (GPU accelerated) build agents. The REST API appears to already exist, so it should be possible to expose it via the "az" CLI: https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/pools?view=azure-devops-rest-6.0

[2019-11-25 04:55] ishitam8 commented on #894
Hi @ironyman ,

The fix to avoid storing credentials in keyring in case it has issue is already in master and will be available in next release.
Meanwhile, you can try following solutions.
Do you have an application named "Sea horse" on your system? Or was there a pop-up to enter a password which you might have dismissed by mistake while running this command?

The problem here is, you need to set-

[2019-11-25 04:55] #894 closed

[2019-11-25 04:58] atbagga commented on #895
@gintuoklis There is already an option to specify the yaml from repository.
You can checkin the yaml file and create a pipeline from the yaml by specifying the path in the repository.

Use the --yaml-path parameter in create pipeline command docs [here](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/pipelines?view=azure-cli-latest#ext-azure-devops-az-pipelines-create).

Please update

[2019-11-25 05:00] atbagga opened #896 "[Bug] CI pipeline broken due to azure-cli edge build issue"
https://dev.azure.com/ms/azure-devops-cli-extension/_build/results?buildId=51234&view=logs&j=80f57011-57e2-5285-6819-df5013f56833&t=28c56951-85d9-5537-1ceb-75762be8aa04&l=19

[2019-11-25 06:30] atbagga commented on #892
There is an [issue ](https://github.com/Azure/azure-devops-cli-extension/issues/535)for adding support for asof field in workitem show command.
I am modifying it to add support for asof, expand, and fields parameter in the command which should take care of the request here.

[2019-11-25 06:31] atbagga commented on #535
+ Add support for other couple of parameters - expand, fields.

[2019-11-25 06:35] atbagga commented on #891
@muru03 Can you please share the debug logs for helping in troubleshooting.
Run the same command with --debug.

[2019-11-25 06:47] atbagga commented on #896
Resolved from Azure-Cli.

[2019-11-25 06:47] #896 closed

[2019-11-25 08:22] #809 closed

[2019-11-25 12:01] atbagga commented on #858
@davidtorosyan Are you still in to give a try to your setup or should I go ahead and fix it?

[2019-11-25 13:06] atbagga commented on #817
@geverghe Would it be good enough to just have one command - ```az devops service-endpoint update --enable-for-all``` for now.

It will be two steps for all users but that way we do not break compat by changing json response of non preview commands.

[2019-11-25 20:05] gintuoklis commented on #895
Hey @atbagga,
I did what you advised. Looped through all repos, added new file, committed, and pushed. Then used azure clie with  --yaml-path parameter.

[2019-11-25 21:22] apluche commented on #891
@maru03 Is the system/IE proxy set?

[2019-11-26 02:10] davidtorosyan commented on #858
I don’t think I’ll have time to set up the temporary workaround. I did run those commands you mentioned in the virtual environment - those were the logs I posted above. You can go ahead with the fix, I’ll just keep an eye out for other ways I can contribute!

[2019-11-26 03:59] skeeler commented on #611
Agree, it would be great to have an "az devops organization" to iterate over all the organizations that I am a member/user in. For example, I can see such a list at the URL: https://app.vsaex.visualstudio.com/me. As @rvf148  mentioned, for large organizations with several (possibly many) organizations, it would be nice for scripting to handle this dynamically rather than statically.

[2019-11-26 04:11] geverghe commented on #817
Got it - makes sense.

[2019-11-26 04:15] atbagga commented on #858
Thank you for interest in the contribution. We mark the issues with "help wanted" tag for contributors to pick up.
I will try to repro your dev setup scenario and we will revisit the dev setup instructions too.

I will raise a fix for this issue.

[2019-11-26 05:30] muru03 commented on #891
yes

[2019-11-26 05:37] muru03 commented on #891
Command arguments: ['artifacts', 'universal', 'download', '--organization', 'https://dev.azure.com/companyname', '--feed', 'companyname', '--name', 'packagename', '--version', '156.0.0', '--path', 'Packages', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x03BE1A50>, <function OutputProducer.on_global_arguments at 0x03

[2019-11-26 08:10] atbagga commented on #895
Looks like the issue is resolved. If you still have any concerns feel free to open a new issue.

Thanks

[2019-11-26 08:10] #895 closed

[2019-11-26 09:54] mkc-bruce opened #899 "failed to download universal artifacts"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.12.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifac

[2019-11-26 10:07] atbagga opened #900 "[Bug] az artifacts universal publish fails to download ArtifactTool_win10-x64_0.2.128"
Copied from Issue: https://github.com/Azure/azure-cli-extensions/issues/1095

### az artifacts universal publish fails to download ArtifactTool_win10-x64_0.2.128

Re-running the command attempts to download the tool again and fails midway.

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.10.0.`

**Errors:**
[code]

## To Reproduce:
Ste

[2019-11-26 11:23] ishitam8 commented on #892
This is a separate issue where "_links" are not returned in the response, since it's populated in additional_properties of an object.
It will still behave the same in spite of giving user an option to query all the links.
Also, this is the behavior observed across all commands
E.g az pipelines release show --id

So, I'll take this up in a separate PR. Removing the link to the other issue.

[2019-11-26 12:44] geverghe commented on #629
Similar need from developer community - https://developercommunity.visualstudio.com/idea/771222/azure-devops-cli-update-release-environment.html

[2019-11-26 18:40] apluche commented on #900
@nayanshah Could you please share the debug logs for more accurate troubleshooting?
Please run the same command with --debug.

[2019-11-26 18:41] apluche commented on #899
Hi,
@mkc-bruce Could you please share the debug logs for more accurate troubleshooting?
Please run the same command with --debug.

[2019-11-27 02:06] apluche commented on #891
Hi @muru03

A variety of things can be happening during this call so I would like to ask you to go through several steps to help us determine the root of the problem.

**1) Use ArtifactTool directly**
Please follow the following link after filling out the org name and the os-name (os name should be windows or linux): https://vsblob.dev.azure.com/<organization-name>/_apis/clienttools/artifacttool/r

[2019-11-27 05:05] #858 closed

[2019-11-27 05:53] #817 closed

[2019-11-27 06:38] atbagga commented on #858
Fixed in version 0.16.0.
ETA for release end of this week.

[2019-11-27 06:38] atbagga commented on #817
Fixed in version 0.16.0.
ETA for release end of this week.

[2019-11-27 08:42] ishitam8 opened #902 "Enable tests from old release"
Revert the yaml changes #901

[2019-11-27 09:00] #535 closed

[2019-11-27 09:45] jessie828 opened #903 "publishing and downloading artifacts from azure devops using the CLI on Redhat 7.4"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.15.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2019-11-27 11:44] atbagga commented on #903
@jessie828

- Are you able to run other commands? try a simple one like ```az devops project list``` or ```az repos list```
- Please share a debug log trace for the ```az artifacts universal download``` command. You can do so by running the command with ```--debug ```

[2019-11-27 12:46] jessie828 commented on #903
Hi @atbagga

I am able to run the two commands you propose.
I get the correct output with the projects I own inside azure devops

Also I have attached a log file of the command:
`az artifacts universal publish --organization https://sede-pt-ssw.visualstudio.com --feed test_feed --name test-feed-thing --version 1.0.0 --description "description" --path . --debug `
[azPublishLog.txt](https://github.c

[2019-11-28 10:23] swapnild2111 opened #905 "[Bug] az login --service-principal not supported"
**Describe the bug**
az login --service-principal --username xxx --password yyy --tenant zzz
--> Login goes successful.

az devops configure --defaults organization=https://xyz project=xyz
--> This works fine.

az pipelines build list -o table --verbose --debug
--> Error:
[code]
As per ERROR, when service principal is used for `az login`, then token is not retrieved. However it works fine if norma

[2019-11-28 10:31] geverghe commented on #905
Hey @swapnild2111 - azure devops, which is an extension to azure cli, does not support service principal. If you are using service principal for automated login, you can use az devops login with PAT to access azure devops. Here is a link to documentation that explains more - https://docs.microsoft.com/en-us/azure/devops/cli/log-in-via-pat?view=azure-devops&tabs=windows. I am changing this from bug

[2019-11-28 10:41] swapnild2111 commented on #905
Ohh ok, got it. Feature request makes sense then.
Currently I am using PAT login approach and it works fine.
However I want to move to Service Principal Approach since I do not want to keep my personal token linked to CI/CD anywhere. I will watch update for feature request.
Thank you :)

[2019-11-28 22:04] skeeler opened #907 "[Bug] Some commands change default console colors"
**Describe the bug**
Some azure-devops CLI extension commands change the default console colors, specifically those that issue the statement: "This command group is in preview...". The problem is that subsequent console output (i.e. regular informational text, for example produced by Write-Output) is completely unreadable (black on black).

**To Reproduce**
Azure Cli Version: 2.0.76
Use az --versi

[2019-11-29 04:42] atbagga commented on #907
This behavior comes from Knack which is the base framework used by Azure-Cli and hence all the extensions on AzureCLI.

I will try to repro it on my end and raise a corresponding issue in Knack and work with that team on getting it fixed.

[2019-11-29 06:24] ishitam8 opened #909 "Add CLI test from azure cli extensions"
Add linter and help text validation tests from azure-cli-extensions in our pipelines

[2019-11-29 09:28] muru03 commented on #891
While hitting the url (https://vsblob.dev.azure.com/{company name}/_apis/clienttools/artifacttool/release?windows=&arch=x86_64) I am getting the below error.

{"$id":"1","innerException":null,"message":"No release could be found based on the provided information.","typeName":"Microsoft.VisualStudio.Services.BlobStore.WebApi.Exceptions.ClientToolNotFoundException, Microsoft.VisualStudio.Services.Bl

[2019-11-29 13:21] zagoa opened #910 "[Bug] get stuck during Installing process"
**Describe the bug**
I can't achieve to install the extension. My terminal get stuck during install process. Try to look at the debug log but I don't understand why it's stuck, there is no clue of it. Moreover I try to install an other extension (internet-analyser) and it works.

**To Reproduce**
Azure Cli Version: 2.0.77
OS: Ubuntu 18.04

Steps to reproduce the behavior:
Just try to do `az extens

[2019-11-29 13:39] zagoa commented on #910
Fix: I had something in my pip config, and all the packages were fetch from this source...my bad
This issue could be deleted

[2019-11-29 13:39] #910 closed

[2019-11-30 15:11] softwarecraft commented on #869
At the very least HTML anchor tag is supported, I've implemented that and it works.

It would be useful to support basic formatting, eg as listed in my issue (bold, strong, font, etc).

It is inconsistent to support HTML anchor tag and no other HTML or formatting. Why would you do that?

Either way, the docs should be explicit about what formatting is supported.

[2019-11-30 15:17] softwarecraft commented on #870
Thank you for that last link, it is a nice clear article.

Two small improvement.

First under List Banner, https://docs.microsoft.com/en-us/azure/devops/organizations/settings/manage-banners?view=azure-devops#list-banners. The prior banners listed are there solely for historical purposes, there is no way to activate a prior banner. Please make this clear.

Second under Update Banner, https://docs

[2019-12-02 05:23] atbagga opened #911 "[Bug] 'az boards query' supports only flat queries"
Original Issue: https://github.com/Azure/azure-cli-extensions/issues/1120#issue-529546784
Reported by: @ashamrai

'az boards query' supports only flat queries. The tree and direct links are not supported. However, there is no any information on docs or command output. The command returns an empty answer for wiql with links.

[2019-12-02 06:11] atbagga commented on #797
Closing due to lack of response. If the issue persists please feel free to raise a new issue.

Thanks.

[2019-12-02 06:11] #797 closed

[2019-12-02 07:06] jessie828 commented on #903
Hi @atbagga
It looks like moving to python 3.7 fixed this issue for me.
Can you make sure that the [installation instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest)  on the microsoft website get updated correctly?

Here it lists that it is possible to install and run this with Python 2.7.

Thanks.

[2019-12-02 09:18] AlexChongMicrosoft opened #912 "az devops security permission update doesn't work as expected"
**Describe the bug**
I run below command to set the permission for a group, but nothing changes.
"az devops security permission update  --allow-bit 7 --namespace-id [ID of security namespace] --subject [User Email ID or Group descriptor.] --token [your token]"

**To Reproduce**
Azure Cli Version: 2.0.77

Azure-Devops extension version: 0.15.0

Steps to reproduce the behavior:
1. login using az log

[2019-12-02 17:44] apluche commented on #891
@muru03 It appears the initial link was not pasted over properly. I apologize for the mistake. Here is the link: https://vsblob.dev.azure.com/<organization-name>/_apis/clienttools/artifacttool/release?osName=<OS-name>&arch=x86_64

It looks like the link you are hitting is malformed and should have osName=windows.

[2019-12-02 18:51] darthscsi opened #913 "linux failures on universal download"
## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.16.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifacts universal download --organization "https://dev.azure.com/mscatap

[2019-12-03 01:39] satbai commented on #913
It looks like you're using Python 2.7.5. Could you update your Python to 3.6.x or 3.7.x and see if it fixes the issue? I know the [documentation](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest#prerequisites) mentions that Python 2.7.x should be still compatible, but it looks like [upgrading Python](https://github.com/Azure/azure-devops-cli-extension/issues

[2019-12-03 03:14] 962720900 opened #914 "[Bug] An error occurred while extracting the Universal Packages tooling: [WinError 5] Access is denied"
**Describe the bug**
A clear and concise description of what the bug is.

I want to publish a universal artifact to Azure DevOps

Steps to reproduce the behavior:
1. login using az login
2. setup defaults..
3. az artifacts universal publish --feed SIT --name docker --version 0.1 --path .
- Downloading Universal Packages tooling (ArtifactTool_win10-x64_0.2.128): 99.92% ..

4. See error
An error occ

[2019-12-03 06:12] atbagga commented on #907
@Skeeler Thank you for reporting the issue.

The Knack team was able to repro the issue and the fix is in PR.  You can check the above linked issue in Knack repo for the fix.

Note: Since this is coming from Knack/Azure-CLI, once the issue is fixed you will need to update azure-cli to get the fix (and not azure-devops).

I am closing this issue since it is getting tracked in the knack repo.

[2019-12-03 06:12] #907 closed

[2019-12-03 08:40] ishitam8 commented on #912
Hi @AlexChongMicrosoft ,

Your security token is incorrect.
I am guessing you are entering PAT token instead of security token.

Please replace it with security token , for project namespace it should be something like this,
`$PROJECT:vstfs:///Classification/TeamProject/PROJECT_ID`

Here, project ID would be the identifier of the project, you want to update permissions for.
You can get more inform

[2019-12-03 10:06] AlexChongMicrosoft commented on #912
@ishitam8
Thank you for attention. Yes, my token is my PAT. I will have a try later and let you know the result.

[2019-12-03 11:15] fdcds commented on #546
Any news on this? Have the necessary APIs been implemented?

[2019-12-03 12:53] atbagga commented on #546
Looks like the python client is not available yet for 6.0 version which should have the changes.

https://github.com/microsoft/azure-devops-python-api/tree/dev/azure-devops/azure/devops

[2019-12-03 13:17] heoelri opened #916 "[Feature Request] KeyVault support for az pipelines variable-group"
**Is your feature request related to a problem? Please describe.**
We're currently working with a customer who's creating a bunch of Azure KeyVaults for several workstreams within an Azure DevOps project. They're looking for an automated way to create variable groups in Azure DevOps that are mapped to Azure KeyVaults (KV).

Currently the Azure DevOps (ADO) CLI extension supports the creation of Va

[2019-12-03 14:46] heoelri opened #917 "[Feature Request] az devops service-endpoint does not accept secrets"
**Is your feature request related to a problem? Please describe.**
Currently `az devops service-endpoint ` does only accept certificates using parameter `--azure-rm-service-principal-certificate-path` there's no parameter to configure a service-endpoint in Azure DevOps using a Service Principal with a secret.

**Describe the solution you'd like**
I'd like to have the possibility to create a servic

[2019-12-04 03:14] AlexChongMicrosoft commented on #912
@ishitam8 Hi, still no luck.
![image](https://user-images.githubusercontent.com/45751478/70109542-2d9ecf80-1687-11ea-9d70-65af7e0b6b32.png)

After refreshing the page, nothing changed.
![image](https://user-images.githubusercontent.com/45751478/70109587-48714400-1687-11ea-878c-abb13453b324.png)

[2019-12-04 03:16] AlexChongMicrosoft commented on #912
Additionally, there is another user facing the same issue.

[2019-12-04 04:45] ishitam8 commented on #912
@AlexChongMicrosoft  ,  please pass the token in quotes. Since you are using powershell, **$PROJECT** is treated as variable instead of string constant.
You can verify the list of tokens for user/group with
`az devops security permission list --subject <DESCRIPTOR> --id <namespaceID>`

There should be an entry for  "$PROJECT:vstfs:///Classification/TeamProject/PROJECT_ID" in this list.

If you are

[2019-12-04 09:58] atbagga commented on #916
@heoelri This is duplicate of #723.

Please check my comment on that issue which should help in automating using invoke command until the explicit command is available.

Closing the issue as Dupe. You can follow that issue for updates and any further comments/feedback.

[2019-12-04 09:58] #916 closed

[2019-12-04 10:03] heoelri commented on #916
Thanks @atbagga for pointing me to the other thread. I think `az devops invoke` helps us a lot.

[2019-12-04 22:40] carmando62 opened #918 "[Bug] Cannot add an AAD user to Project security group if user not part of the organization"
Unable to add add AAD users to a new project's security groups where users are not part of the organization yet.  The CLI documentation shows --member-id that the "Descriptor of the group or Email Id of the user to be added."  First off it should be member Id as Descriptor of the group goes under --group-id. Using the --member-id but this is only valid if the user is already a member of the organi

[2019-12-05 02:24] satbai commented on #828
I was able to reproduce this issue with Python 2.7 and it got fixed by updating Python to 3.6. Please update the version of Python that the az cli uses. As you can see from the [docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest#prerequisites), Python version 3.6 or higher is now a prerequisite as the support of 2.7 is getting dropped.

[2019-12-05 02:24] #828 closed

[2019-12-05 03:32] AlexChongMicrosoft commented on #912
Hi, @ishitam8  is there any way to make it easier? I followed the doc but still face so many difficulties.
1.I tried this command az devops security permission list --subject <DESCRIPTOR> --id <namespaceID>, got a lot of different tokens. How could I detect which one is correct?

2.Could you tell me how to use quote of this token? I find a method input token for az devops login. Not sure whether I

[2019-12-05 06:00] ishitam8 commented on #912
Hi @AlexChongMicrosoft ,

As mentioned earlier and also verified from your debug logs, you are passing incorrect security token.
It should be **$PROJECT:vstfs:///Classification/TeamProject/73d2ba69-da36-4d82-abb1-778c867bc350**

Few things to note here:
1. Since you are not passing quotes along with your token,  **$PROJECT:vstfs:** is not passed as part of your token to the command.
2. List comman

[2019-12-05 06:24] ishitam8 commented on #918
@carmando62 ,

This behavior is by design. We can't resolve identity to its correct azure devops identifier by just name or email-ID. Hence, its mandatory to add the user first to the organization and then add to groups.
Please add the AAD user to org first and then run the command with email-ID and it should work fine.

You can add one group as a member of another group too. That's why it says "D

[2019-12-05 08:03] AlexChongMicrosoft commented on #912
Hi @ishitam8 Thank you so much for your patience!

I finally get a big progress, it's unbelievable that the root cause is the difference of " and '.

I change the command from "$PROJECT:vstfs:///Classification/TeamProject/73d2ba69-da36-4d82-a
bb1-778c867bc350" to '$PROJECT:vstfs:///Classification/TeamProject/73d2ba69-da36-4d82-a
bb1-778c867bc350' and it works for me.

How stupied I am. I never tho

[2019-12-05 16:10] simonbMS commented on #903
I have the same issue running on Windows

[2019-12-05 18:12] carmando62 commented on #918
Thank you.  The problem then for me was adding the new users to
organization. So I went to see what license types all the other users were
and attempted add a new user to the Org using the same license toy as
everyone else (I was initially trying "professional")  I used express and
it worked.  Thank you for getting me headed in the right direction. I am
not blocked anymore.  Also thanks for the cl

[2019-12-05 18:55] satbai commented on #913
I was able to reproduce this with python 2.7 and updating python to 3.6 fixed it. As the documentation mentions Python version 3.6 or 3.7 as a prerequisite, I'm closing this issue. Let me know if you still see this after updating python and I'll investigate more. Thanks!

[2019-12-05 18:55] #913 closed

[2019-12-05 19:21] #918 closed

[2019-12-05 19:21] carmando62 commented on #918
Resolved.

[2019-12-05 21:43] apluche commented on #903
Hi @simonbMS, as a workaround, could you update python to the newest version? Please let us know if this fixes your issue.

[2019-12-05 22:17] sailesh89 opened #919 "Unable to publish Universal package"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.16.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifac

[2019-12-05 22:19] satbai commented on #914
Could you run az --version and share the output please? This will help us see which versions you're using. I recommend updating to the latest azure-cli version, the latest version of azure-devops extension and the latest python version. Also, which OS are you on?

[2019-12-06 00:10] satbai commented on #900
There are new azure-cli and azure-devops extension versions available as well. Please consider updating the tools before sending the debug logs just so you have the latest fixes. Thanks!

[2019-12-06 07:53] simonbMS commented on #903
Yes, it fixed on my PC. I thing the installation of the Azure CLI should install the required version

[2019-12-06 17:44] apluche commented on #899
There are new azure-cli and azure-devops extension versions available as well. Please consider updating the tools before sending the debug logs just so you have the latest fixes. Thanks!

[2019-12-06 17:58] apluche commented on #903
@simonbMS glad to hear that you are unblocked. Could you create a new Feature Request issue in this repo with your suggestion? It makes it easier for us to track new features. I've put a work item on our backlog to fix the docs.

[2019-12-06 18:15] #903 closed

[2019-12-09 08:35] jfpanisset commented on #817
I can confirm that:

az devops service-endpoint update --id $DOCKER_CONNECTION_ID --enable-for-all

correctly sets the "Grant access permission to all pipelines" property for my recently created Docker Hub service connection, and I no longer need to use "az devops invoke --http-method patch ...".

Thank you very much!

[2019-12-09 08:51] ishitam8 commented on #887
azure devops docs PR is merged and document is updated. Hence, closing this

[2019-12-09 08:51] #887 closed

[2019-12-10 07:17] 962720900 commented on #914
Hi @satbai  Thanks for your comments, the details of the versions are shown below,
azure-cli                         2.0.77
command-modules-nspkg              2.0.3
core                              2.0.77
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
azure-devops                      0.12.0

If there need more details, please feel free let me know.

[2019-12-10 08:12] atbagga opened #921 "[Bug] password prompt in knack does not work with CTRL+V in windows"
Az devops login password prompt does not work when ctrl+v is used on the prompt.

https://github.com/microsoft/knack/issues/160

Possible change to make it easy to troubleshoot will be to add token length check.. and if the length is too small than expected (guid length) then warning message to the console indicating this issue.
And login suggested through right click.

[2019-12-10 12:41] AlexChongMicrosoft commented on #912
Hi, now I'm facing a new issue about "To use a personal access token, set the AZURE_DEVOPS_EXT_PAT environment variable at the process level". Should I continue working here or separate a new issue when necessary?

[2019-12-10 19:53] satbai commented on #914
There is a newer version of the azure-devops available. You can update it with `az extension update --name azure-devops`. I don't know which version of python you're using but make sure you're using python3 as well. Once these steps are done, do you still get the same error?

[2019-12-11 02:01] shubham90 commented on #832
This issue happens on python 2.* versions which is not supported for azure cli. I would recommend updating the python version to 3.* which is required to run az cli universal commands. Let me know if you still see this issue.

[2019-12-11 10:09] dhilmathy commented on #876
@atbagga I would like to take up this.

I am planning to create a new `update` command. Something like `az pipelines build update --status Cancelling`. Your thoughts & comments?

[2019-12-11 10:44] laseve opened #922 "[Bug] Cancelled requests when downloading artifact"
When I download artifacts from Azure, I get a lot of
"Try 1/5, non-retryable exception caught. Throwing. Details:
Task was requested to be canceled."
messages. The artifacts are already built and shall only be used to flash a device. I did not get these messages previously.
A lot of files are downloaded, but how can I be sure that I get all files and that they are correct? My colleagues do not get

[2019-12-11 14:01] pietergheysens opened #923 "[build policy] Build policy cannot be set to expire build immediately when branch is updated"
When using the command `az repos policy build create` there's no option to expire the build immediately when the target branch has been updated. The valid-duration argument is required and must be defined in minutes. When set to 0, the build expiration is set to "Never" and there's no option for expiring the build immediately when the target branch has been updated. This option is available via th

[2019-12-11 15:41] israelvaldez commented on #891
The second workaround worked for me, once you redirect the CLI to the download location you can get your packages.

The help for the tool does not show anything when you poke it, it always returns the same message, is there any special argument that I need to send?, I had to decompile the artifacttool.dll to find the class CommandBase and see what the arguments were:

artifacttool.exe universal do

[2019-12-11 17:35] wibjorn opened #924 "`az devops wiki list` returns `request failed: Operation returned a 302 status code`"
Hello, trying to automate some things related to a projects wiki. I've tried the following in the Cloud Shell, but keep getting the following back:

[code]

Commands run:

[code]
AND

[code]

Neither seem to be returning anything, although the project/org definitely already contain wikis.

[2019-12-11 21:04] shubham90 commented on #857
This is a duplicate of bug #832 . Universal download/publish extension requires python 3.0 or above to run. This is a python version compatibility issue which should be resolved once python is updated.

[2019-12-11 21:04] #857 closed

[2019-12-11 21:04] #832 closed

[2019-12-11 21:35] shubham90 commented on #919
@sailesh89 I see that you are using a windows box for this. Is this machine shared or is some other process also running universal package operations on this machine at the time you saw this?

The other process could be a virus scanner running on this folder.

Just wanted to make sure that this is not a shared resource issue. Let me know if this makes sense.

[2019-12-12 00:21] sailesh89 commented on #919
Hi,

It seems like more of a authentication issue. I did login using az devops login command using PAT token and then did as artifact upload. It’s causing issue. But in a new console, after setting the PAT token in the Env($env:AZURE_DEVOPS_EXT_PAT ) variable and directly using az artifact upload works.  I’m not sure why it’s not working without setting the env variable.

Regards,
Sailesh
________

[2019-12-12 06:00] ishitam8 commented on #924
Hi @wibjorn ,

The above command won't return any results if there are no wikis present in that particular project.

To get the wikis at organization level, please use scope parameter
`az devops wiki list --organization <URL to organization> --scope organization`

If there is a project or code wiki already there in the project, then the command you executed is expected to return some results.
In t

[2019-12-12 18:10] wibjorn commented on #924
Ah I see, yes, I should have been targeting only the org. I appreciate the help!

[2019-12-12 18:11] #924 closed

[2019-12-12 20:31] shubham90 commented on #919
It shouldn't be an auth issue because the artifact tool download part is completed. It could happen that some other process interfered with the download and therefore, download failed. Later, when the package downloader called the tool, it failed because it couldn't find it. The error message in your logs is consistent with that.

In that other console, the download might have succeeded and hence

[2019-12-12 22:44] apluche commented on #891
Hi @israelvaldez,

I'm glad to hear that the second workaround worked for you. The first workaround is not really documented since it is better to use the artifacttool from the CLI rather than use it alone. Since you were able to just get the second one to work, please use the CLI with the specific artifacttool set. It will serve you better than using the tool directly.

The help on the tool itsel

[2019-12-13 00:43] shubham90 commented on #919
This bug is tracked by #798 I will close this one as duplicate.

[2019-12-13 00:43] #919 closed

[2019-12-13 00:46] shubham90 commented on #847
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location. We are in the process of adding a retry to escape this.

Also, this issue looks like a duplicate of #798 . Closing this one and tracking it there.

[2019-12-13 00:46] #847 closed

[2019-12-13 00:48] shubham90 commented on #914
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to fix this.

Also, this issue looks like a duplicate of #798 . Closing this one and tracking it there.

[2019-12-13 00:48] #914 closed

[2019-12-13 00:48] shubham90 commented on #899
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to fix this.

Also, this issue looks like a duplicate of #798 . Closing this one and tracking it there.

[2019-12-13 00:48] #899 closed

[2019-12-13 00:49] shubham90 commented on #874
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to fix this.

Also, this issue looks like a duplicate of #798 . Closing this one and tracking it there.

[2019-12-13 00:49] #874 closed

[2019-12-13 00:52] shubham90 commented on #871
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to alleviate this. If the antivirus policy is set to delete the tool, then the path needs to be whitelisted.

Also, this issue looks like a duplicate of #776 . Closing this one

[2019-12-13 00:52] #871 closed

[2019-12-13 00:53] shubham90 commented on #861
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to alleviate this. If the antivirus policy is set to delete the tool, then the path needs to be whitelisted.

Also, this issue looks like a duplicate of #776 . Closing this one

[2019-12-13 00:53] #861 closed

[2019-12-13 00:53] shubham90 commented on #850
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to alleviate this. If the antivirus policy is set to delete the tool, then the path needs to be whitelisted.

Also, this issue looks like a duplicate of #776 . Closing this one

[2019-12-13 00:53] #850 closed

[2019-12-13 00:53] shubham90 commented on #849
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to alleviate this. If the antivirus policy is set to delete the tool, then the path needs to be whitelisted.

Also, this issue looks like a duplicate of #776 . Closing this one

[2019-12-13 00:53] #849 closed

[2019-12-13 00:57] shubham90 commented on #831
I was not able to repro the bug in the latest release of azure-devops extension. Please update the extension and the az-cli tool and provide the debug logs for us to be able to repro it.
I will close this bug as no-repro. But feel free to re-open it if this is still happening. Thanks!

[2019-12-13 00:57] #831 closed

[2019-12-13 01:00] shubham90 commented on #829
I was not able to repro the bug in the latest versions of azure devops extension. Please update the client the extension. Can you also provide us the debug logs for us to be able to repro it?

I'm closing this as no-repro- Please feel free to reopen it if this is still happening on latest versions of extension. Thanks!

[2019-12-13 01:00] #829 closed

[2019-12-13 01:05] shubham90 commented on #798
This bug occurs when some other process might interfere with the download artifact tool. The process could be an antivirus, some other process which is sharing the same location etc. We are in the process of adding a retry to alleviate this. If the antivirus policy is set to delete the tool, then the path needs to be whitelisted.

Also, this issue looks like a duplicate of #776 . Closing this one

[2019-12-13 01:05] #798 closed

[2019-12-13 01:08] shubham90 commented on #776
I've reopened this issue to see if we can add a retry while downloading the file. If the antivirus is deleting the file then there is not much we can do. You will have to whitelist the path in the antivirus setting.

If the antivirus is locking the file while we attempt to rename it, then retry should solve this issue. I will make the fix and update once it's released.

[2019-12-13 05:01] atbagga commented on #917
@heoelri Secrets are supported to create an AzureRM service-endpoint.

Here is a sample command signature -
[code]

In interactive mode you will be prompted for the secret since in Azure-Devops extension we try to avoid that the user enters any form of secret/password in command prompt which becomes prone to leaks in the Cmd/bash history.

In non interactive mode you can specify it using a ENV var

[2019-12-13 05:02] atbagga commented on #917
Closing as not an issue. If you still feel something is missing feel free to @ mention me to reopen.

[2019-12-13 05:02] #917 closed

[2019-12-13 08:40] DominikErnst opened #926 "TF400497: The backlog iteration path that you specified is no longer valid."
Hello,

how can I change the configuration / backlog iteration path?

Thx
Dominik

[2019-12-13 09:20] ishitam8 commented on #926
You can use  `az boards iteration team set-backlog-iteration --id<ITERATION_IDENTIFIER> --team <YOUR_TEAM>` to set backlog iteration for that team

[2019-12-16 18:41] fdcds commented on #546
It arrived: :)

* https://github.com/microsoft/azure-devops-python-api/tree/dev/azure-devops/azure/devops/v6_0
* https://github.com/microsoft/azure-devops-python-api/releases/tag/6.0.0b1

[2019-12-19 00:14] lukeschlather commented on #754
I'm looking for a command to generate a Personal Access Token with some scopes. (Basically a CLI replacement for https://dev.azure.com/strivr/_usersSettings/tokens ) Is that this?

[2019-12-19 05:13] ishitam8 commented on #754
@lukeschlather . There is no command to generate Personal Access token.
You will have to use UI only for this .
Also, this feature request talks about Security token (the tokens which are used in security permission commands) and not PAT.

[2019-12-19 15:52] lukeschlather opened #927 "[Feature Request] CLI for creating Personal Access Tokens"
**Is your feature request related to a problem? Please describe.**
Some sort of CLI replacement for the UI at https://dev.azure.com/strivr/_usersSettings/tokens

**Describe the solution you'd like**

az devops pat create <json description of scopes>
az devops pat delete <name>
az devops pat list

[2019-12-20 20:10] brandongodby78 opened #928 "[Bug]Getting a 405 on user remove call"
Using the az devops user remove command and the api call is getting a 405 with the error message that the resource does not support the DELETE method, although all of the documentation states it does. I will say the URL in my call is slightly different than the one in the API documentation.

I am using azure-devops version 0.16.0

My command is formated as such:
az devops user remove --user {redac

[2019-12-23 04:42] ishitam8 commented on #928
Hi @brandongodby78 ,

What are you passing in argument --user?
It should be GUID or user Email ID.
I am guessing you are passing descriptor instead.

You can fetch the user GUID from `user list` command and pass that as --user, and it should work fine.

[2019-12-23 20:45] kartheek0274 opened #929 "[Bug] az login (used for az devops) not able to retrieve token for user assigned identities"
**Describe the bug**
I am trying to use az login --identity -u (user assigned identity) for logging in azure client. And later I am using az artifacts download to download a universal package. The artifacts download fails with not able to retrieve token from az login.

From azure devops wiki, it looks it supports logging in through az login. I could easily login using my az login credentials, but

[2019-12-24 12:07] atbagga commented on #929
@kartheek0274  Unfortunately Azure-Devops does not support login using service principals and hence nor does the azure-devops CLI extension.

For now PAT is your only option for automation.

Here is a open issue for login through service-principals - https://github.com/Azure/azure-devops-cli-extension/issues/905. So this issue is effectively a duplicate of the linked feature request.

[2019-12-24 12:12] atbagga commented on #927
@lukeschlather Azure-devops does not support creating of Personal Access tokens using an API. Only list functionality is [supported](https://docs.microsoft.com/en-us/rest/api/azure/devops/tokenadmin/personal%20access%20tokens?view=azure-devops-rest-6.0).

[2019-12-27 09:27] ishitam8 commented on #912
Sorry, I didn't get what is the new issue. Can you share the debug logs (Use --debug switch with whatever command you facing issue with)?

[2019-12-30 00:53] AlexChongMicrosoft commented on #912
@ishitam8 Thank you for attention. Actually，in my testing, only on Linux it doesn't work well, but in windows everything is fine. We choose another way as a workaround. Thank you anyway.

[2019-12-30 06:01] ishitam8 commented on #912
@AlexChongMicrosoft , Glad that I could help.

[2019-12-30 06:01] #912 closed

[2019-12-30 06:44] AlexChongMicrosoft commented on #912
@ishitam8 Thank you very much!

[2019-12-30 22:10] brandongodby78 commented on #928
Thank you for the advise @ishitam8. That did resolve my issue and it is working fine now, I will close this bug.

[2019-12-30 22:10] #928 closed

[2019-12-31 00:14] kartheek0274 commented on #929
@atbagga , thanks for the information. We are looking to automate this process for compliant projects to make sure that we dont get tied up ourselves with PATs. What is the recommended approach for automation?. How are other teams doing this?.

[2020-01-02 05:51] ishitam8 commented on #926
I am hoping that above comment resolved your query. Hence, closing this issue, please feel free to reopen or raise a new one if you are facing any more issues.

[2020-01-02 05:51] #926 closed

[2020-01-02 05:59] geverghe commented on #929
@kartheek0274 - For now, as @atbagga mentioned, the only supported automation approach is to use PAT. Based on anecdotal evidence, a service account PAT scoped to the required permission is used for automation by most teams.

[2020-01-02 07:49] shreyansh-zazz commented on #776
Any update on this one? I am having the same issue.

I also have corporate Mcafee Antivirus installed, it may be stopping this but have no idea. What should I do?

[2020-01-02 11:13] etiennetremel opened #930 "[Bug] az pipelines run --variables flag doesn't support multiple key/value"
The `--variables` flag from the `az pipelines run` command doesn't support multiple key/value.

The behavior is different from the flag description:

[code]

**To Reproduce**
Azure Cli Version: 2.0.78
Azure-Devops extension version: 0.16.0

Steps to reproduce the behavior:

[code]

**Expected behavior**
[code]

[2020-01-02 19:28] dannyyy opened #931 "[Feature Request] Enabling/disabling project features (extensions)"
**Is your feature request related to a problem? Please describe.**
Like to enable/disable the project features (DevOps Services such as Boards, Repos, Pipelines, Test Plans and Artifacts) through the azure devops cli. Currently I can achieve this only in the web ui under project settings or by replicating the REST command via HTTP.

**Describe the solution you'd like**
Extending the `az devops ext

[2020-01-03 06:48] atbagga commented on #930
@etiennetremel By providing the double quotes you are making the CLI to read this as one string and hence interpret it as you mentioned. "var1=value1 var2=value2"

As mentioned in the help text you only need to provide the list as space separated.
e.g. ``` --variables var1=value1 var2=value2```

If your variable contains spaces then `` --variables "var1=value with space" var2=value2```

That shoul

[2020-01-03 06:48] #930 closed

[2020-01-03 08:04] atbagga commented on #929
Closing as duplicate of #905

[2020-01-03 08:04] #929 closed

[2020-01-06 03:39] manishsat commented on #81
It does not download if the artifact type is container.
I am getting following exception '
Encountered an unexpected error.
ArtifactTool.Commands.PipelineArtifacts.PipelineArtifactDownloadException: Artifact with name 'drop' was found, but is of type 'Container'.

[2020-01-06 03:41] manishsat commented on #81
Any plans when Container type artifacts are going to be supported?

[2020-01-06 14:50] PhilipSkinner commented on #776
I second this, same issue, McAfee installed. Other developers machines with the same software installed do not have this issue. Doesn't work for me no matter how many times it tries to install.

[2020-01-07 05:40] atbagga commented on #923
@pietergheysens The policy options on the webUI are restricted.
I tried the same from CLI and here are my observations -
1. If you try to set the policy with **queueOnSourceUpdateOnly: false** and validDuration = 0 the policy correctly takes it as expire immediately.
1. If you try to set the policy with **queueOnSourceUpdateOnly: true** and validDuration = 0 the policy takes it as NEVER expire (wh

[2020-01-07 08:59] lp-code commented on #749
For me, the name specified after --path contained dots (".") as part of version number. Passing a directory name without dots solved the issue.

[2020-01-07 16:52] sorvis commented on #749
Similar to lp-code my issue I later resolved by using a directory. At first I had tried referencing a file directly which caused the error for me. I think that should be considered a bug that it cannot take a file directly without producing a logical error message.

[2020-01-08 08:55] geverghe commented on #921
Let's go ahead with the string length check since the *(star) experience is again a framework level change that might take time. There are two things that we need to convey
1. Inform the user that the token has not been entered
2. Address the common scenario which is CNTRL + V

Proposed experience

Token:

Please provide a PAT token. If you are using CNTRL + V to paste the token, it won't work in

[2020-01-10 21:36] jmyersmsft commented on #922
Judging by the log (particularly at the end), it looks like those requests failed due to some transient issue and succeeded on retry.

[2020-01-13 08:22] laseve commented on #922
Thank you for your response.
Yes, the log says that Try 1/5 is cancelled so probably Try 2 works. What puzzles me is that I did not get those messages at first, but now I get them every time making me questioning the downloaded artifacts and I believe it is only me in my office that gets the messages. A thought that struck me is that I download the artifacts over Wifi, perhaps my colleagues use ca

[2020-01-13 10:05] laseve commented on #922
Issue is related to wifi, it works fine when using ethernet.

[2020-01-13 10:05] #922 closed

[2020-01-14 12:09] millanie opened #934 "[Feature Request] az pipeline build or release update configuration"
**Is your feature request related to a problem? Please describe.**
My team has lots of projects and each project has the release pipeline. Because of the audit, we need to keep the release history for a year. Currently, we are updating the retention days to keep as 365 MANUALLY. As the number of pipelines is increased, the manual tasks are increasing.

**Describe the solution you'd like**
az pipel

[2020-01-14 14:06] diego7marques opened #935 "Error to query Release Definition Name"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az pipelines release list
Extension Name: azure-devops. Version: 0.16.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az pipelines re

[2020-01-14 19:46] davidlopez9210 commented on #776
I have McAfee installed too and we are having the same problem. Any knows how to add the component to a whitelist in McAfee?

[2020-01-15 04:24] 962720900 commented on #914
@shubham90 I have checked that the the latest release of az devops cli extention is [0.17.0](https://github.com/Azure/azure-devops-cli-extension/releases/tag/20200113.1).
I execute the update command : az extension update --name azure-devops
The az devops extention cli version still is 0.16.0.
![image](https://user-images.githubusercontent.com/27622845/72404892-edf0fa80-3791-11ea-8913-1a44bc3856cd

[2020-01-15 07:17] OnnoH opened #936 "az devops login fails to add PAT to Mac OS keychain"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops login
Extension Name: azure-devops. Version: 0.13.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az devops login`

## Expe

[2020-01-15 09:57] OnnoH commented on #936
Updated the devops extension to 0.16.0.
The output is less verbose, but the outcome the same: 'Can't store password on keychain'

[2020-01-15 22:46] mydiemho commented on #814
@geverghe could you also add the note to the [Getting Started Guide](https://docs.microsoft.com/en-us/azure/devops/cli/?view=azure-devops).  This was where I first learned about setting default config

[2020-01-16 05:41] ishitam8 commented on #936
HI @OnnoH ,

Can you re-run the command with --debug switch and share the logs?

Also, keychain application on your system must be asking you to configure a password when you run az devops login.
Can you confirm if your keychain application is working properly?

[2020-01-16 05:45] ishitam8 commented on #914
@962720900 , New release is still in review  from Azure CLI front . [Refer this PR.](https://github.com/Azure/azure-cli-extensions/pull/1195)
Once this PR is merged, you will be able to update Devops CLI to 0.17.0

[2020-01-16 05:51] ishitam8 commented on #935
@diego7marques ,

Can you share the complete command with debug logs [add --debug switch to your command]?
Please make sure to share your jmespath query.

[2020-01-16 06:31] OnnoH commented on #936
Keychain.app is working properly, but it doesn't ask for a password when running the command.

Debug output:
[code]

[2020-01-16 07:06] OnnoH commented on #936
Also when setting the PAT in AZURE_DEVOPS_EXT_PAT I still get the Token prompt.

And when issuing the `az login` first, I also get the same `Can't store password on keychain` error.

[2020-01-16 07:11] OnnoH commented on #936
#738

[2020-01-16 07:26] ishitam8 commented on #936
@OnnoH , If you are storing PAT in environment variables, you don't need to run "az devops login" command, you can directly run other commands.
Could you please verify if you are able to run any other commands?

Also, az cli doesn't store credentials in keychain. Are you sure you ran "az login" only ?
Or was it "az **devops** login" ?

[2020-01-16 07:38] OnnoH commented on #936
@ishitam8 I'm able to run any other commands like `az devops project list | jq '.value[].name'`

I ran `az devops login` prior to and after `az login` with the same result.

[2020-01-16 07:42] ishitam8 commented on #936
I am assuming you are unblocked now as you are able to run devops commands.
[Since az devops project list worked for you, with fetching PAT from env variable]

We will look into the az devops login error for Mac OS. Hence, keeping this issue open.

[2020-01-16 08:02] atbagga commented on #934
@millanie We will keep the issue open and prioritize on the basis of community upvotes.

Meanwhile you can use ```az devops invoke``` command to if you want to create an automation script for using some API.

[2020-01-16 10:46] diego7marques commented on #935
@ishitam8,
I already found the problem. My command are with incorrect marks ("") for my context.
Thank you for your attention.

[2020-01-16 10:46] #935 closed

[2020-01-16 11:38] PhilipSkinner commented on #905
Using PAT tokens is not acceptable to us (as a company) or the clients we develop software for.

Can you please make your tools use service principals consistently? Its very hard to explain to a client why this doesn't work when it should be working.

[2020-01-16 15:08] davidhabibi opened #937 "[Bug] az pipelines release list lists only the first 100 releases"
az pipelines release list lists only the first 100 releases regardless of --top 1000 option

**To  @Reproduce**
Azure Cli Version:
azure-cli                         2.0.78 *

Azure-Devops extension version:
azure-devops                      0.16.0

Steps to reproduce the behavior:
1. login using az login
2. setup variables $organization and $project to match a project with over 100 deployments
3.

[2020-01-16 18:10] apluche commented on #891
@muru03, did the workaround unblock you and are you able to download packages?

@muru03 , @israelvaldez Could you remove the environment variable (if it is still set) to see if you are still running into this issue? If so, please send the logs you receive.

[2020-01-16 18:19] israelvaldez commented on #891
I get a max retries received error:
`The command failed with an unexpected error. Here is the traceback:

HTTPSConnectionPool(host='0t3vsblobprodcus362.vsblob.vsassets.io', port=443): Max retries exceeded with url: /artifacttool/artifacttool-win10-x64-Release_0.2.128.zip?sv=2017-04-17&sr=b&sig=EWrX6QfaHgakt2Wx2sORhYViPB7P0jNWWbeu3yGP3Dg%3D&spr=https&se=2020-01-16T19%3A17%3A49Z&sp=r&P1=1579201969&P

[2020-01-16 18:25] mboutet commented on #905
We need this please Microsoft.

[2020-01-17 05:48] atbagga commented on #921
Fixed and released in version - 0.17.0.

Note: This is only a workaround to let the user know if CTRL+V was used on command prompt or powershell on windows. The issue still exists as described in https://github.com/microsoft/knack/issues/160

[2020-01-17 05:48] #921 closed

[2020-01-17 08:01] 962720900 commented on #914
@ishitam8 Thx

[2020-01-20 09:54] FrancescElies opened #940 "[Feature Request] az artifacts universal publish: exlude files"
### Issue
When I publish a package via `az artifacts universal publish` I would like to have the option of filtering out certain files.

### Feature
Maybe something like `--exclude <regex>`, e.g.:

    az artifacts universal publish --organization "https://myorg.com/" --feed "myfeed" --name "mypackage" --version 0.0.1  --path . --exclude "*.trash"

Would you find this useful?

[2020-01-21 08:21] atbagga commented on #937
The support for continuation token was missing in the older client (5.0/5.1). This got fixed in the 6.0 client.
This affects a lot of list commands including the one you pointed out here. We will upgrade the client dependency to fix this (currently the version 6.0 is in preview, so it could be a while).

Would having one of the [filters](https://docs.microsoft.com/en-us/rest/api/azure/devops/relea

[2020-01-21 08:25] atbagga commented on #923
Closing the issue since I found it to be consistent in behaviour with the UI.

@pietergheysens Please check if the above resolves your issue. Let me know if you still find some inconsistency.

[2020-01-21 08:25] #923 closed

[2020-01-21 08:27] atbagga commented on #902
Fixed in https://github.com/Azure/azure-devops-cli-extension/pull/938

[2020-01-21 08:27] #902 closed

[2020-01-21 08:29] atbagga commented on #876
@dhilmathy  Sorry missed the update. If you are still up for it please share the detailed command signature and go ahead.

[2020-01-21 15:13] davidhabibi commented on #937
Hello

I found a workaround using --definition-id option. This should be fine for a while as for each pipeline we have less than 100 release deployed.

Thanks

dh

De : Atul Bagga <notifications@github.com>
Envoyé : 21 janvier 2020 03:22
À : Azure/azure-devops-cli-extension <azure-devops-cli-extension@noreply.github.com>
Cc : Habibi, David (Consultant) <dhabibi@cdpq.com>; Author <author@noreply.gi

[2020-01-22 09:23] BUR70N opened #941 "[Feature Request] az pipeline variable-group importing"
### Issue

When exporting variable-groups via Devops cli using the following command -
az pipelines variable-group  show  --group-id # -o yaml (Gets individual group variable) or if using this -  az pipelines variable-group  list -o yaml (Lists all the variable groups in one)

You end up with a long list of yaml code that you are unable to import, the same is if creating a new Variable Groups, thi

[2020-01-22 09:29] geverghe commented on #941
@BUR70N - Thank you for the feedback and for raising the issue here! This gives complete clarity on the scenario and the pain you are facing. Is this a common scenario for you? Multiple variable groups with say more than about 10 (my first assumption for a number beyond which manual entry may be a pain) variables per group?

[2020-01-22 09:46] BUR70N commented on #941
@geverghe - Glad that this has given clarity on what I think could add value. This could be a common scenario going forward when working for clients. Yes indeed more than 10 or even more than 5 could start to be a pain when doing manually also when you have multiple groups to do can be a pain, so doing it all in one go via a file could really save time.

[2020-01-22 11:27] irwins opened #942 "[Issue] How to offboard a team from Azure DevOps?"
**Issue**
The on-boarding process of a team in Azure DevOps has been described. There are sample scripts on how you can automate this process, but how would you go about successfully off-boarding a team?

I'm curious as to what needs to be considered...

[2020-01-22 11:30] geverghe commented on #942
Hey @irwins - thank you for the question and request. As I had mentioned offline, this process varies from team to team and my assumption is that there would be more divergence in this process than on-boarding. To start off with, is there an off-boarding process that you have today in your organization for Azure DevOps?

[2020-01-22 11:41] irwins commented on #942
Hi @geverghe , Currently we're in the process of defining this. Part of the the on-boarding is setting up a DevOps project for the team with default specs. Once the team becomes obsolete, we need to clean up any project not in use... Is there away to soft-delete so to speak? Or have the ability to restore if necessary? (You never know)

I see now why yaml files can help with your build and release

[2020-01-22 12:02] geverghe commented on #942
Ah I see. Here is the reference to [Delete project](https://docs.microsoft.com/azure/devops/organizations/projects/delete-project?view=azure-devops). As mentioned, a deleted project can be recovered in 28 days.  Including the exact text for clarification:

Therefore, you could use `az devops project delete` for your scenario.

Hope the above clarification is helpful. I am closing this ticket. Feel

[2020-01-22 12:02] #942 closed

[2020-01-23 14:20] fdcds commented on #546
Any news?

Version 6.0.0b2 of the Python client was released: https://github.com/microsoft/azure-devops-python-api/releases/tag/6.0.0b2

[2020-01-23 22:29] naeemhaq commented on #630
I am also not able to download using "az artifacts universal download" command I am getting below error, is this realted. My user is an admin on the project.

`[GetDedupManifestArtifactClientAsync] Try 1/5, non-retryable exception caught. Throwing. Details:
No LastRequestResponse on exception VssServiceException: TF400813: The user 'c2a14014-a54f-4f04-bd83-9f20923d5827\info' is not authorized to a

[2020-01-29 06:26] HenrikSommer-eng opened #943 "[Bug] az devops dont use logged in user to access https://dev.azure.com/"
**Describe the bug**
$organizatio = "your organization"
az devops project list --org --org https://dev.azure.com/$organization

Does not use current logged in user to access https://dev.azure.com/

**To Reproduce**
Azure Cli Version: 2.0.80
Azure-Devops extension version: 0.17.0

Steps to reproduce the behavior:
1. ps> az login --allow-no-subscriptions
   **[User 1]**
2. close powershell console
3

[2020-01-29 15:41] tlentine commented on #905
I have wasted a TON of time on this issue because the referenced link explicitly calls out the fact that if you have authenticated with `az login` you do **not** need to use `az devops login`.

It would be fantastic if:
- The documentation was accurate;
- az devops extension adds support for service principals

[2020-01-29 18:07] PhilipSkinner commented on #776
You shouldn't have to. It's probably ms windows  file locking. The installed needs to be able to deal with files being locked by waiting until the lock is released.

[2020-01-29 23:23] apluche commented on #891
@israelvaldez Could you provide more details on your corporate proxy settings and configuration?

As a side note, you may need to whitelist our storage account hosts/IPs on your proxy. Information is in the link below.
https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops

[2020-02-03 11:12] icloudmegam commented on #807
try "powercfg –restoredefaultschemes" to reset the cmd and after that try login again it worked for me.

[2020-02-03 21:14] ironyman opened #944 "az repos list hangs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
hangs, doesn't work

cyl@diamat:~/LSG-linux-yocto$ az repos list --verbose
^Ccommand ran in 3802.346 seconds.

**Command Name**
`az repos list
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may

[2020-02-03 22:54] ironyman opened #945 "Failure when trying to login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops login
Extension Name: azure-devops. Version: 0.12.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az devops login --organiz

[2020-02-03 22:54] ironyman commented on #945
[code]

[2020-02-04 05:17] ishitam8 commented on #945
@ironyman ,

This issue is already fixed. Please update the cli version to latest
`az extension update -n azure-devops`

You can refer #762 and #894 for more details on this.

[2020-02-04 06:59] HenrikSommer-eng commented on #943
Did i post this the right place?

[2020-02-04 09:57] atbagga commented on #944
@ironyman
The command works for me so the issue is definitely limited to the environment/organization. Please help me with the answers below to troubleshoot -

- Is this consistently reproducible behavior or it happened one time?
- Is the command hang issue limited to az repos list command or is it across other az repos/az devops/az commands?

Can you run the command with the issue in debug mode a

[2020-02-04 10:15] atbagga commented on #943
Yes, this is the right place.

Did you run az devops login command earlier with the credentials of User1 in your case?

You can confirm this by running the command in debug mode i.e. with --debug flag and look for PAT is present which can be used against this instance.

![image](https://user-images.githubusercontent.com/11888714/73735388-33875e80-4765-11ea-8b24-45d9b31d4f05.png)

If yes, then logo

[2020-02-04 10:21] atbagga commented on #776
The fix was released in 0.17.0 for retry logic.

@shubham90 Do you want to keep the issue open or should we close it now?

[2020-02-04 16:21] shreyansh-zazz commented on #776
But the problem is still persisting.

[2020-02-04 19:50] ironyman commented on #945
Ah, thanks

[2020-02-04 19:50] #945 closed

[2020-02-04 19:57] ironyman commented on #944
It did happen everytime I ran it. But az repos list is working now. I signed out and signed in and deleted some stuff. Can't quite remember everything I did.

But this is hanging
[code]
This happens everytime.
[code]
hangs there

I have a stack trace at that point

[code]

[2020-02-04 23:13] shubham90 commented on #776
The fix was to add retries to the file handling and adding additional logging to get more information out of this error. If you are using azure devops extension 0.17.0 and still seeing the issue then please paste the detailed logs and we can investigate this further.

@atbagga Let's keep this open for now and we will check the new logs to determine if this is the same issue or not.

Adding @satbai

[2020-02-05 16:55] AltarBeastiful commented on #695
Would it be enough to have the same behaviour as the `Add commit messages` button on the UI when there is multiple commits.
![image](https://user-images.githubusercontent.com/3317699/73863493-78cc8e80-4840-11ea-96dc-0a64e01f47a8.png)

Right now there's no option in cli to trigger this behaviour. And once the PR is created, the option is not proposed in the UI.
Would be awesome to just add a flag f

[2020-02-06 02:45] kyschouv opened #946 "[Bug] az devops invoke doesn't support preview API versions"
**Describe the bug**
I was trying to discover feed ids for our projects (since the feed ids I have to use for yaml pipelines aren't easily discoverable) using the CLI, but it doesn't support the preview API version I need: GET https://feeds.dev.azure.com/{organization}/{project}/_apis/packaging/feeds?api-version=5.1-preview.1

**To Reproduce**
Azure Cli Version: 2.0.76
Azure-Devops extension versi

[2020-02-06 05:48] gauravsaralMs commented on #946
you can explore  `az rest` command
example:
[code]
--resource 499b84ac-1321-427f-aa17-267ca6975798 is a bit weird so adding info: </br>
 this GUID is the resource representation of ADO

[2020-02-06 11:07] ralphhendriks commented on #695
@AltarBeastiful I do not completely understand your message.

Was that sentence intended as a question, and if so, to whom? My original issue is related to no description being set when creating a PR for a branch with a single commit difference to the target.

Presently, in the UI the following happens:
1. Creating a PR for a source branch with a **single commit** difference to the target branch:

[2020-02-06 22:21] johnterickson commented on #81
No plans.  You can grab a Container directly from REST.  I think it's downloadUrl from https://docs.microsoft.com/en-us/rest/api/azure/devops/build/artifacts/get%20artifact?view=azure-devops-rest-5.1#artifactresource

[2020-02-07 14:19] giuliov commented on #778
The funny part is that it works on some Server instances but on others I get `Failed to authenticate using the supplied token.` thought they run the same 2019.1 version

[2020-02-10 08:24] HenrikSommer-eng commented on #943
I close this for now.
Since I can't reproduce it any more.

[2020-02-10 08:24] #943 closed

[2020-02-10 13:18] MrDomLeidos opened #947 "[Bug] az devops configure --defaults organization URL Parsing error if Orgname contains %20"
I'm trying to configure :

az devops configure --defaults organization=https://dev.azure.com/sfa-gov-uk/My%20Org/
and it comes back with :

invalid interpolation syntax in 'https://dev.azure.com/sfa-gov-uk/My%20Org/' at position 38

I am assuming it is the %20 escaping that is causing the problem, I can't change the name of the organisation as it's out of my control and used by 100's of other proj

[2020-02-11 06:13] atbagga commented on #947
Organization names do not have spaces in them hence no %20 should be there.

In the sample URL you provided the **my%20org**  part is the project name which you do not need to put in the organization url for setting default.

If your url is something like this - ```https://dev.azure.com/sfa-gov-uk/My%20Org/```

Your command to setup defaults will look like this -
[code]

Give it a try and let me k

[2020-02-11 06:25] ssrobins opened #948 "[Bug] Starting in 0.13.0, terminal hangs when redirecting output"
Install the latest version of the Azure DevOps extension:
`az extension add --name azure-devops`

Open Windows PowerShell
(I'm using 5.1.17763.771, which came with Windows 10)

Run the following command:
`$test = az pipelines pool list --organization https://XXXXXXXX`
Where `https://XXXXXXXX` is a valid Azure DevOps organization URL

I expect the terminal to return and the $test variable to be pop

[2020-02-11 06:27] ssrobins commented on #944
I reported a similar issue:
https://github.com/Azure/azure-devops-cli-extension/issues/948
I worked around it by installing version 0.12.0 of the extension. Does that work for you?

[2020-02-11 10:59] PhilipSkinner commented on #776
I'll ask all our devs to upgrade and feedback - we only had 1 out of 9 people install and use it successfully.

[2020-02-12 21:07] Cadacious opened #949 "[Feature Request] Release definition creation via Azure CLI"
**Is your feature request related to a problem? Please describe.**
We have the ability to create Build definitions via Azure CLI via the `az pipelines create` command but no ability to create Release definitions. The 'az pipelines release create' command creates a new release within an existing definition, it does not allow creation of a new deinition. This action is possible via REST API but not

[2020-02-13 10:34] atbagga commented on #948
Not reproducible for me here.. though I see an issue with colors which is already filed on azure/knack  repo and I know is being worked upon.

Will try to see through the debug logs in the other issue and see if I can repro..

@ssrobins The color issue does give an impression that it is hung but it is not. So please double check at your end it is not the issue.

![CommandRun](https://user-images.g

[2020-02-14 05:48] atbagga commented on #947
@MrDomLeidos Please reopen if you still have issue with this.

[2020-02-14 05:48] #947 closed

[2020-02-14 12:27] aodj opened #950 "[Bug] Unable to disable telemetry"
**Describe the bug**
It's not possible to disable the telemetry collection within the azure-devops extension for two separate reasons:
* When setting the configuration using `az configure -d collect_telemetry=...` the value is saved under the `[defaults]` heading in the azure-cli config file, which isn't detected by azure-devops since it's only reading the `[core]` section: [relevant link](https:/

[2020-02-17 10:09] ishitam8 commented on #944
Hi @ironyman ,

Are you running this command interactively or within a script?

If not, can you try running the command interactively?
Also, is there a prompt to enter password for SecureStorage?
Or any other warning or error?

[2020-02-18 16:00] jonasbark opened #952 "[Feature Request] Support Bitbucket"
**Is your feature request related to a problem? Please describe.**
We're trying to fully automate our process for creating and deploying azure resources and now reached the step to actually create build pipelines and deploy e.g. microservices. We rely on Bitbucket (Cloud) as our source code management system. This option is still not available with `az pipelines create` as it only supports github

[2020-02-18 17:44] aglorei opened #953 "[Bug] Inability to set BuildOption during pipelines create/update causes pipeline triggers to not fire"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Azure Cli Version:
Azure-Devops extension version:
[code]

Steps to reproduce the behavior:
1. Use PAT to authenticate (I set it as an environment variable `AZURE_DEVOPS_EXT_PAT` per [documentation](https://docs.microsoft.com/en-us/azure/devops/cli/log-in-via-pat?view=azure-devops&tabs=windows#use-environmen

[2020-02-19 08:07] atbagga commented on #950
Note that the current code handles the core section which is what is set if you use ```az configure``` command interactively to set the telemetry.

As the bug states, the check should honor all different ways the telemetry setting can be updated in AzureCLI.

[2020-02-19 09:02] #911 closed

[2020-02-20 12:56] atbagga commented on #953
@geverghe Not sure if this is a CLI issue. Who would be the right point of contact for the yaml pipelines triggers. The issues states that the pipelines triggers documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#pipeline-triggers) does not work.

[2020-02-21 13:05] timmkrause opened #955 "[Feature Request] More agent and pool verbs (?)"
**Is your feature request related to a problem? Please describe.**
Ease of use, expected it to be there, feature incomplete.

**Describe the solution you'd like**
az pipelines agent delete --pool-id --agent-id
az pipelines agent enable --pool-id --agent-id
az pipelines agent disable --pool-id --agent-id
az pipelines pool delete --pool-id
az pipelines pool create --name

**Additional context**
Rela

[2020-02-23 12:29] bluca opened #956 "Please name git tags after the version as well"
At the moment annotated git tags are named after the release date, rather than the version. This makes life for packagers harder, as there is a mismatch, and many automated tools fail. Eg: I cannot use the tag for the version when packaging in Debian as reverse dependencies will reference the actual version. But not using the actual git tag means automation to watch for new releases and import the

[2020-02-23 15:01] masaosakurai opened #957 "error az pipelines runs artifact list"
## Describe the bug

**Command Name**
`az pipelines runs artifact list
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az pipelines runs artifact list --run-id {}`

## Expected Behavior

## Enviro

[2020-02-24 11:32] pwouavre commented on #917
@atbagga

Hi,

I tested this feature throught an automatism scenario to build a complete az devops project.

I'm using this 2 small line for the service connection creation :
`$env:AZURE_DEVOPS_EXT_AZURE_RM_SERVICE_PRINCIPAL_KEY = $SpnSecret.SecretValueText
az repos create --name $azRepoName --org $organization --project $azProjectName`

The result is an "half" provisionned service connection : Th

[2020-02-24 15:34] cpyfferoen commented on #856
You can list them thru the Web API - but you can't download
You can download them thru this extensions - but you can list them
Seems neither use case is actually useful... you'd have to combine them.

[2020-02-27 06:50] ishitam8 commented on #956
Hi @bluca ,

You can create git tags by using the `az repos ref` management commands.
Does this work for you ?

Thanks

[2020-02-27 07:48] bluca commented on #956
Hi,

I meant on this repository, as part of the release process of azure-devops-cli-extension itself. I uploaded this to Debian and Ubuntu, and it would make my life a lot easier maintaining it going forward.

[2020-02-27 08:18] ishitam8 commented on #956
Oh, got it.
Will make sure next releases are tagged as versions and not auto-generated dates [since only one tag is allowed.]

Thanks for the feedback :)

[2020-02-27 08:29] bluca commented on #956
Thank you!

[2020-02-27 08:42] #956 closed

[2020-02-27 08:45] ishitam8 commented on #946
I hope Gaurav's comment has resolved your issue. If not, please feel free to re-open the bug.

[2020-02-27 08:45] #946 closed

[2020-02-27 08:49] ishitam8 commented on #955
@timmkrause  , We are working on prioritizing this.
cc: @geverghe

[2020-02-27 08:54] ishitam8 commented on #948
Closing this. Please feel free to re-open the bug if you are still facing this issue.

[2020-02-27 08:54] #948 closed

[2020-02-27 08:58] ishitam8 commented on #957
Hi @masaosakurai ,

You will have to fetch run ID from the command `az pipelines runs list` and pass this ID as argument to command `az pipelines runs artifact list --run-id {ID_VALUE}`

[2020-02-28 22:21] praveen-pk opened #959 "Failed to parse structured output from Universal Packages tooling (ArtifactTool)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2020-03-01 14:01] jf781 opened #960 "[Bug]"
**Describe the bug**
When creating a new pipeline via AZ CLI I get an error that it could not queue the build because there were validation errors or warnings.   This happens with a known working yaml file or when I let it create the starter file

**To Reproduce**
Azure Cli Version:
2.1.0

Azure-Devops extension version:
azure-devops                      0.17.0

Steps to reproduce the behavior:
Lo

[2020-03-02 07:35] timmkrause commented on #955
Awesome to read this. :)

[2020-03-05 16:15] jabenedicic commented on #477
Would be useful if this could also include the ability to manipulate and list tags associated with pipeline environments as well.

I am currently using a number of VMs in an environment and use tags to target specific deployments to the correct machines (think 3 tier app sort of arrangement), I would like to be able to get a list of VMs that match a certain tag so that I can then use the Agent Nam

[2020-03-05 21:58] praveen-pk commented on #959
This bug is being tracked internally, closing this external duplicate.

[2020-03-08 18:14] ransagy opened #962 "[Feature Request] repos pr --open flag old/new domain link?"
**Is your feature request related to a problem? Please describe.**
When using the `az repos pr` commands, the --open flag opens the relevant ADOps page, i.e. PR create opens the newly created pull request page. However, It currently opens the old domain links (MYORG.visualstudio.com/MYPROJECT/...) rather than the new links (dev azure com).
I know there's some setting in the org to redirect/drop th

[2020-03-10 10:05] echalone opened #963 "[Bug] adding azure-devops extension returns error"
**Describe the bug**
When trying to install the azure-devops extension for the azure cli it returns an error (network connection exists and I even can download the file according to the displayed URL if I'm really fast):
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='github-production-release-asset-2e65be.s3.amazonaws.com', port=443): Max retries exceeded with u

[2020-03-10 11:11] echalone commented on #963
I think I can "close" my own bug, but this might need better documentation:
This problem happens when your system uses its own root-certificates, e.g. if you're behind a proxy. You need to add the used certificate chain to the pems for the azure cli as well as for pip. Do the following:
1. Add the needed certificates to the following file for the azure cli: C:\Program Files (x86)\Microsoft SDKs\Az

[2020-03-11 11:02] ishitam8 opened #964 "[Feature Request]AZ Repos Create with readme Feature request"
Reference issue [here](https://github.com/Azure/azure-cli/issues/12165)

AZ Repos Create Feature request

I cannot create repos with an initial readme, when I use az repos create command.
An optional flag to create the repo with a README, would be really helpful. The command after running should also return the commit-id on the command line.
Please add this functionality.
The main point of having

[2020-03-11 11:03] ishitam8 commented on #964
Hi @ap-bansal ,

Apologies for the late reply.
Currently this feature is not supported in the azure-devops-cli, since there are no separate cmds to add/commit a file.
We rely on your git commands for this.

You can still combine the 'az repos create' command and git add/commit commands and automate your functionality.
Will that work for you ?

If not, can you please share your exact use-case?

[2020-03-11 11:26] ishitam8 opened #965 "[Bug] az boards iteration project create path parameter"
Reference az cli issue [here](https://github.com/Azure/azure-cli-extensions/issues/1294)

**Issue details**
Currently parameter has exmple of: ProjectNameIterationIterationName. Please give more detailed example what is the syntax here.

Here is example of working syntax:

az boards iteration project create --name "S01" --start-date "2020-01-01"
--finish-date "2020-01-14" --path "\MyProject\Iterat

[2020-03-11 11:31] ishitam8 commented on #965
hi @oulasvirta,

Thanks for  reporting this.

When you look at command help text, its accurate
 **[i.e Example:\ProjectName\Iteration\IterationName.].**

But doc is not rendering the help text as is.
![iterationPath](https://user-images.githubusercontent.com/43136080/76412574-d745d900-63b9-11ea-9dcc-2925e18634eb.PNG)

[2020-03-11 13:57] ap-bansal commented on #964
Hi @ishitam8,
I have been using _az repos create_ and _git add/commit_ till now for automation. AZ Import doesn't work for private repos.
My actual need is to have a commit-id (SHA) when the repo is first made. Is there any way you can incorporate this in the AZ CLI codebase?
Thanks,
Apar Bansal

[2020-03-12 06:14] ishitam8 commented on #964
Hi @ap-bansal ,

Please help me to understand your ue-case.
Do you already have a private repo (with required README or initial commits) and you want to import this repo to the newly created one?

**If yes, you can achieve this via az repos create and az repos import create cmds**
`az repos create -n <NEW_REPO_NAME>`

`az repos import create --git-url <URL_OF_REPO_TO_BE_IMPORTED> -r <NEW_REPO_NAME

[2020-03-12 09:55] jayaakshayan opened #966 "Unable to load extension 'azure-devops' in devops pipeline"
Error :
Az devops works locally on agent.
When we ran through pipeline with CLI task ( powershell script) on agent, it throws error as az: 'devops' is not in the 'az' command group.

Also i could see the warning 'unable to load extension azure-devops' while loading.

azure-cli: 2.1.0,
command-modules-nspkg: 2.0.3,
core: 2.1.0,
nspkg: 3.0.4,
 telemetry: 1.0.4
Extensions: azure-devops

[2020-03-12 10:15] ishitam8 commented on #966
Hi @jayaakshayan  ,

Can you update the extension and check if that resolves the issue?
If not, please run `az devops -h --debug` and share the corresponding debug logs.

[2020-03-12 10:19] ishitam8 commented on #963
Thanks @echalone , I don't think this is specific to azure-devops extension. It's more of a az-cli bug. Hence, closing this. Please feel free to re-open this if you think it's otherwise.

[2020-03-12 10:19] #963 closed

[2020-03-12 10:21] ishitam8 commented on #957
Closing this issue due to no activity.
Please feel free to re-open if you are still facing this issue.

[2020-03-12 10:21] #957 closed

[2020-03-12 10:24] ishitam8 commented on #176
Please check the `az pipelines create ` commands.
Closing this issue due to no activity.
Please feel free to re-open if you are still facing this issue.

[2020-03-12 10:24] #176 closed

[2020-03-12 11:49] ishitam8 commented on #546
hi @fdcds ,

Sorry, but the REST API v6.0 is still in preview. We can do a client update only when the APIs are out of preview.

[2020-03-12 12:36] jayaakshayan commented on #966
Az extension is up to date, attached below the Az devops -h --debug

DEBUG: Command arguments: ['devops', '-h', '--debug']
2020-03-12T12:32:22.0100157Z DEBUG: Event: Cli.PreExecute []
2020-03-12T12:32:22.0103668Z DEBUG: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x02669540>, <function OutputProducer.on_global_arguments at 0x026B21E0>, <function CLIQue

[2020-03-12 16:34] SaqibS opened #967 "[Feature Request] TSV output format with same columns as Table"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I cannot create a project..

I wish to output work items into Excel. This would be trivial by using `--output tsv`, but this format gives me columns such as ID, None, 3, URL.

What I want, is the columsn given by `--output table`, so what I end up doing is manually replaci

[2020-03-12 19:16] ap-bansal commented on #964
Thanks Ishita. I'll give it a try.

[2020-03-13 06:14] ishitam8 commented on #967
Hi @SaqibS ,

This is the limitation from az-cli for tsv format.
As stated in this [az-cli documentation](https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli?view=azure-cli-latest#tsv-output-format) , there is no special handling for tsv format. Also ,  it can't output the nested entries.

You might want to pass the json results to additional scripts to get the output in your requir

[2020-03-14 18:59] jaraco opened #968 "[Feature Request] Create GitHub-linked pipeline with variables unattended"
**Is your feature request related to a problem? Please describe.**

With other CI systems like Travis-CI, enrolling a project is about as simple as invoking `travis enable`. Currently with Azure Devops and Pipelines, it's dramatically more manually-intensive. There `az project create` to create the project, but from there, it's still necessary to manually:

- Create a pipeline
- Link that pipeline

[2020-03-16 05:42] ishitam8 commented on #968
Hi @jaraco ,

Did you check `az pipelines create` cmd and `az pipelines variable-group` cmds?
You can use pipeline create cmd to create your pipeline linked with Github repo.
Sorry, currently creating variable groups associated with key-vault is not supported, since there is no publicly available API for the same.
Also check if you can use `az devops invoke` cmd in your case. More details #723 for

[2020-03-16 13:05] jaraco commented on #968
Great suggestions. I'll take a look and report back.

[2020-03-17 02:02] jaraco commented on #968
While trying `az pipelines create`, I learned I needed to upgrade both azure-cli and azure-devops. Once doing that, I have the `az pipelines create` command, but I ran into two issues. The first was that the examples in help didn't work. None of them specify `--project` but when running the commands, an error is emitted:

[code]

So looking at what the web UI creates, I tried using the project nam

[2020-03-18 23:55] ironyman commented on #944
It was failing in a script and I ran it interactively when I tried to debug it. There as no prompt. I was running it in an ssh session. That's the full output no other error.

I tried running it again and it logged in successfully with this error message
[code]

but it logged in and other commands work. Not sure what happened but it works now. I did do apt update recently so maybe one of those key

[2020-03-19 05:36] ishitam8 commented on #944
@ironyman ,
As you can see from the when logs and the warning, when keyring fails we fallback to filestorage for linux.

Failed to store PAT using keyring; falling back to file storage.
You can clear the stored credential by running az devops logout.
Refer https://aka.ms/azure-devops-cli-auth to know more on sign in with PAT.
Keyring failed. ERROR :Failed to unlock the collection!

If you can fix

[2020-03-19 22:42] dfoulk commented on #204
We would like to be able to upload secure files via the Azure CLI DevOps extension as well. With our Apple certificates expiring annually, it becomes quite the pain to update the code signing files (keystore & p12).

I decided to write a script that automates the updating of these files in _DevOps > Pipelines > Library > Secure Files_ so that I don't have to research the locations of these files e

[2020-03-22 23:38] squigg opened #969 "Bug: pipeline runs --query-order does not only order by the given argument (also includes at least status)"
The `--query-order` argument does not wholly define the sort order of the returned results. The results are also grouped/ordered by other properties, at least `status` and possibly others.

How to reproduce:

Run `az pipelines runs list` with `--query-order` parameter.
[code]

Expected output:
All pipeline runs are ordered by Start Time ascending
[code]

Actual output:
The pipeline runs are groupe

[2020-03-23 00:12] peter-empson-statsnz commented on #877
I suspect I have reproduced this today. In my case I found it was an incorrect assumption in publishing the artifact. I had published a zip file, with --path pointing to the zip. When downloaded, this zip was always put back in the original location, like the reporter experienced. Starting again, first unzipping the archive and uploading with --path pointing to the unzipped folder, download then w

[2020-03-23 12:50] danlister opened #970 "Service Endpoints for Management Group connections"
**Is your feature request related to a problem? Please describe.**
I cannot create a new Azure RM Service Endpoint to a Management Group through the Azure DevOps CLI.

**Describe the solution you'd like**
I would like to see a new command and/or collection of parameters to allow Azure RM Service Endpoints to be created for management groups alongside the existing Service Endpoints connections for

[2020-03-23 17:47] mattdot opened #971 "Cross-repo policies"
I cannot use the az devops cli to configure cross-repo policies.  When creating policy manually it appears that it creates a policy with the following settings.

[code]

The command `az repos policy work-item-linking create` does not allow setting branch or repositoryId values to null, and does not allow the option of DefaultBranch for matchKind.

[code]

**Describe the solution you'd like**
`az r

[2020-03-24 07:52] aluty opened #972 "[Feature Request] az pipeline run --parameters (--variables supported but not --parameters)"
**Is your feature request related to a problem? Please describe.**
Cannot queue a pipeline that requires parameters.

**Describe the solution you'd like**
Support az pipeline run --parameters name=value

**Additional context**
Parameters were just implemented recently?

[2020-03-24 16:50] geverghe opened #973 "[Bug] Creating case-enforcement policy creates work-item-linking policy"
**Describe the bug**
1. Set the case enforcement policy at project level to be true
2. Set the case enforcement policy for one of the repositories inside the project to false
az repos case-enforcement policy create --org https://dev.azure.com/georgeverghese --project nodeExpress --blocking false --enabled --repository-id <repo id>

Output
ID      Name                      Blocking      Enabled
50

[2020-03-25 16:17] jchauncey opened #974 "[Feature Request] artifacts download should support any version type"
**Is your feature request related to a problem? Please describe.**
I can publish an artifacts with any version string but using the CLI i can only fetch those that conform to semver 2.0.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like the ability to download any artifact that matches a given version string.

`az artifacts universal dow

[2020-03-26 06:04] ishitam8 opened #975 "Drop support for Python 2.7 since Azure-CLI doesn't support it anymore"
Will fix [pipeline](https://dev.azure.com/ms/azure-devops-cli-extension/_build/results?buildId=69863&view=results)

[2020-03-26 20:51] magleaso commented on #974
Can you give an example of a version that you can publish but not fetch and provide a screenshot of that version in the UI?

[2020-03-26 20:54] migolfi commented on #826
Hi,
Has there been progress on this?
I'm trying to install the extension in a Docker container with the Azure CLI.
Thank you,
Michael

[2020-03-27 17:53] jchauncey commented on #974
![Screen Shot 2020-03-27 at 1 52 18 PM](https://user-images.githubusercontent.com/430360/77785218-41a17f00-7032-11ea-815e-30cc28c32d6c.jpg)

This is published by the Azure CNI team for their signed builds. I was trying to fetch it usign the cli which is a little easier to do than the other options.

[2020-03-30 13:08] EliiseS commented on #814
@geverghe I ran into the same issue and also used the `Getting started guide` @mydiemho did, so I second their suggestion.

[2020-03-30 16:35] magleaso commented on #974
Sorry for the confusion. Universal here does not refer to a client for downloading any type of package, it refers specifically to downloading a single protocol known as Universal Packages. In order to install a NuGet package, you will need to use a client that supports NuGet. I understand this naming convention is confusing

[2020-03-30 16:41] jonlimx opened #977 "Fail to download artifacts from devops[Try 1/5, non-retryable exception caught. Throwing. Details: Task was requested to be canceled]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**
[https://tphvsblobprodcus375.blob.core.windows.net/db473cf3c6265540bea9009f5b91ea5865/43242E595DD2437CC494A7557BDE6DFEC0491D8683AD7D8FBA680F5881F8B22801?sv=2017-04-17&sr=b&sig=oeQTnsqhLSSHGmXijQUvHsyc

[2020-03-30 17:14] jchauncey commented on #974
So when Im looking at an artifact like hte one above and I say connect to the feed it gives me several options. One of those is nuget but there are others like universal packaging, python, npm, etc... Are you saying that none of those would work and the only way to interact with that feed is through nuget?

[2020-03-30 17:17] magleaso commented on #974
Each of those refers how to download a different type of package. A feed can contain packages from any of those protocols. In this instance, you are trying to download a NuGet package, so you need a NuGet client.

[2020-03-31 08:55] mitsha-microsoft commented on #970
Hi @danlister , sorry for the delay in response. Since you cannot create Service Endpoints for management groups yet, you can still use the `az devops service-endpoint create` command by specifying a configuration file for the Endpoint, as outlined in this doc [Create Service Endpoints using Configuration File](https://docs.microsoft.com/en-us/azure/devops/cli/service_endpoint?view=azure-devops#cr

[2020-03-31 08:55] #970 closed

[2020-03-31 08:58] mitsha-microsoft commented on #960
Hi @jf781 can you specify which agent pool you had used when you ran into this issue?

[2020-03-31 09:06] mitsha-microsoft commented on #966
Hi @jayaakshayan can you specify which agent pool you used when you encountered this error?

[2020-03-31 09:20] ishitam8 commented on #967
Hi @SaqibS ,

I hope you were able to get the results with some additional scripts.
If you are still facing issue related to output format, you can create an issue in [Azure CLI repo](https://github.com/Azure/azure-cli)
I am closing this as of now.

[2020-03-31 09:20] #967 closed

[2020-03-31 13:44] #975 closed

[2020-03-31 16:47] jayaakshayan commented on #966
We use self-hosted agent pool.

[2020-03-31 17:33] jchauncey commented on #974
ah k. That could definitely be made more apparent on those pages. Thanks again.

[2020-03-31 17:33] #974 closed

[2020-04-01 05:45] mitsha-microsoft commented on #966
@jayaakshayan How are you installing the `az devops` extension in that agent since you mentioned it works locally?

[2020-04-01 05:59] #950 closed

[2020-04-01 06:25] ishitam8 commented on #964
Fixed in #978 . It will be available in next release.

[2020-04-01 06:25] #964 closed

[2020-04-01 06:33] ishitam8 commented on #968
@jaraco ,

You will need to pass a project parameter wherever it is required , project and organization parameters are usually omitted in examples, assuming user has configured them as defaults.

You can list the service connections for your project here:
`az devops service-endpoint list`

You can create a new github service connection
`az devops service-endpoint github create -h`

And then later

[2020-04-01 07:00] #973 closed

[2020-04-01 11:31] mitsha-microsoft commented on #960
Hi @jf781 The issue that the stops the pipeline run is with an endpoint not being authorized to be used in the pipeline. You said that the yaml that gives the error with the CLI command works and runs perfectly when done GUI? Wanted to confirm are you able to run that created pipeline using GUI?

[2020-04-01 13:24] jf781 commented on #960
Hi @mitsha-microsoft, that is correct, the pipeline works fine when I create it via the GUI but fails in the CLI.

Is there anything I can do to address the authorization error?

[2020-04-02 00:08] jaraco commented on #968
Thanks ishitam8. This is great! I think I'm making progress.

After supplying a Github Personal Access token, I was able to create the endpoint. I used my username/org as the `--name`, as that seems to be the name that was used endpoints as created through the web.

[code]

When I create the service-endpoint through the web, I don't have to supply a GitHub access token. Is that because my browser

[2020-04-02 00:18] jaraco commented on #968
I tried to create the variable group with secrets linked to Azure key vault, but I don't that's possible through the current UI. Trying to create the variables:

[code]

Indeed, that's what you said above. I'll look into #723.

[2020-04-02 00:48] jaraco commented on #968
OMG!

It worked:

[code]

However, now when I try to run the pipeline, I see this error (web UI):

[code]

Do you know how I can authorize those resources to the newly-created pipeline?

[2020-04-02 01:21] jaraco commented on #968
A few other notes - after creating this variable group, it was not yet authorized with any Azure subscription nor key vault. Is it possible to authorize it with the service and endpoint?

Also, it's not configured to "Allow access to all pipelines", a setting without which I'm unable to save the authorized service and vault in the web UI.

[2020-04-02 04:19] mitsha-microsoft commented on #960
@jf781 Yes you can authorize the pipeline using the `az devops invoke` command from the CLI (or grant the authorization to the Service Endpoint from the GUI itself). To authorize the resource using the `az devops invoke` command, you can follow this syntax
```az devops invoke --area pipelinepermissions --resource pipelinePermissions --route-parameters project=<Project-Name> resourceType=endpoint r

[2020-04-02 07:42] jayaakshayan commented on #966
i installed like az extension add —name azure-devops.

The installation will be happen through pipeline with invoke command to VM agent.

Fyi, created self-hosted agent with the https://github.com/microsoft/azure-pipelines-image-generation?files=1

[2020-04-02 13:34] jf781 commented on #960
@mitsha-microsoft Thanks for sending that over.

One thing that I didn't think would matter (but did) is that I was using a single .azcli script to create the AzDo Project and then create the pipelines.   I noticed when I ran the the
`az pipeline create` command in a terminal after the project was created it worked like it was supposed to.

I messed around with adding a "sleep" command to the scri

[2020-04-02 14:10] DJackman123 opened #981 "Console output color for warning message isn't set back after warning is emitted"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az repos list
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az repos list --query {} --output

[2020-04-02 15:55] geverghe opened #982 "[Bug] "az pipelines runs artifact download" fail for containers that need to be downloaded as a zip file."
Extension name (the extension in question)
az pipelines runs artifact download

Description of issue (in as much detail as possible)
I need to be able to download the "containers" from the build run artifacts as a zip file (the same as I can from the web UI).

However the above command fails with error "Artifact with name 'Android' was found, but is of type 'Container'". I've tried mapping into th

[2020-04-02 15:56] geverghe commented on #982
From az cli extension repo - issue reference - https://github.com/Azure/azure-cli-extensions/issues/1466

[2020-04-02 15:57] geverghe commented on #982
@BrianMouncer - this would be the repo to raise all future azure-devops-cli-extension issues. I have closed your issue on azure-cli-extensions repo and you can track the status here.

[2020-04-03 09:25] mitsha-microsoft commented on #966
Hi @jayaakshayan, right now that extension is not supported in the self hosted agents when you use the AzCLIv2 task. For now, as a work-around, you can add `az extension add -n azure-devops` in your script and that'll let you use the extension in your task

[2020-04-03 12:23] DJackman123 opened #983 "No way to change the encoding of the output"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Somewhere between Azure CLI 2.1.0 and 2.3.0 a new warning message started showing up when executing some commands in the azure-devops extension:
Unable to encode the output with cp1252 encoding. Unsupported characters are discarded.

This makes sense, there's probably a special character in one of the names tha

[2020-04-03 15:14] geverghe opened #984 "[Documentation] Include azure devops documentation in top level command group details."
In each of the top level commands - az boards, az pipelines, az repos, az artifacts and az devops, we include the line indicating that this command is a part of azure-devops extension. In addition to this, we need to include the link out to the documentation - https://docs.microsoft.com/en-us/azure/devops/cli/?view=azure-devops as well.

https://github.com/Azure/azure-cli-extensions/issues/1454

[2020-04-03 15:14] geverghe commented on #984
@bruce31 for visibility.

[2020-04-03 15:32] geverghe opened #985 "[Documentation] Include the link to the policy configuration example in command help"
Include the link to the policy configuration file format available here - https://docs.microsoft.com/en-us/azure/devops/cli/policy-configuration-file?view=azure-devops#create-a-policy-configuration-file in the `az repos policy create` command help

In `az repos policy create` for
`--config --policy-configuration` - Local file path for configuration file. Please use / backslash when typing in direc

[2020-04-03 15:33] geverghe commented on #985
@harleypig for visibility on the action item as a consequence of the issue that was raised.

[2020-04-03 16:05] geverghe commented on #905
@tlentine - Apologies for the lack of accuracy in the documentation. I have initiated a PR to get the error in documentation fixed. There are no near term plans to support az login via service principals to enable access to devops commands.

[2020-04-03 17:25] geverghe opened #986 "[Documentation] Example for creating an ACR service connection using configuration file"
In the effort to automate the deletion and creation of ACR service endpoint, I've had hard time figuring out the following behaviors of the creation and removal of a service endpoint:

An app registration and service principal (as well as a role assignment) is created automatically upon creation of the service endpoint for ACR Container Registry
When the service endpoint is deleted, the app regist

[2020-04-03 17:27] geverghe commented on #986
@ngnmhieu for visibility

[2020-04-03 18:13] geverghe commented on #965
Dropping bug label since the text is rendered properly on command help and this is a pure documentation issue.

[2020-04-03 22:39] tlentine commented on #905
@geverghe Thanks for the update, and please do keep it on the backlog. Using a Service Principal would be much preferred.

[2020-04-04 11:35] himmyaggarwal opened #987 "Azure devops archive files and upload to storage error"
Hi,

I have few folders in my repository feature branch and i want to upload those folders in azure storage after compressing them using archive agent in release pipeline.

i don't wanna save those folders in my feature branch and want to make it a single run in a fly . zip and upload. I tried to run archive agent and that agent is saving the file at $(Build.ArtifactStagingDirectory)/Azurefunction

[2020-04-04 20:20] PhilipSkinner commented on #905
Ok so we have to have a PAT token that gives (potentially) elevated access to a project set in our environmental variables (secure or otherwise).

Have you ensured that anybody who has read access to the logs from builds/deployments has the same level of access to modify a build/deployment and their variables? Otherwise this is a security concern. Thanks for that.

[2020-04-06 10:47] bluca commented on #956
@ishitam8 the tag for the latest 0.18 release still doesn't match the version number: https://github.com/Azure/azure-devops-cli-extension/tree/20200401.4

[2020-04-07 06:14] ishitam8 commented on #968
@jaraco ,

I think since your pipeline is not configured for "Allow access to all pipelines" , you will need to separately authorize variable group.
You can authorize the pipeline using the az devops invoke command from the CLI . To authorize the resource using the az devops invoke command, you can follow this syntax
az devops invoke --area pipelinepermissions --resource pipelinePermissions --rout

[2020-04-07 06:31] ishitam8 commented on #981
@DJackman123 ,

This behavior is coming from Knack and colorma itself.
There is a recent change to disable the colors itself [here](https://github.com/microsoft/knack/issues/169)?
Would that help?

[2020-04-07 11:28] jayaakshayan commented on #966
It doesn’t solve the problem. When i do the workaround it says “ warning: Extension ‘azure-devops’ is already installed.

[2020-04-07 13:33] DJackman123 commented on #981
I saw that bug, but it was saying the problem only happens in a VS Code terminal window, whereas I'm seeing this happen in the normal console.
In my case, the ability to change color output doesn't help because I'm trying to write a script that runs az commands on any box, regardless of what configuration they might have in place.  I would need a way to suppress the color output as a command line

[2020-04-07 16:51] apluche commented on #977
Hi @jonlimx, Could you please share the debug logs for more accurate troubleshooting?
Please run the same command with --debug.

[2020-04-07 18:11] abergie opened #988 "[Bug] az pipelines run not working with git tag"
**Describe the bug**
az pipelines run not working with git tag

**To Reproduce**
Azure Cli Version:
azure-cli (2.3.1)

Azure-Devops extension version:
azure-devops (0.18.0)

Steps to reproduce the behavior:
az pipelines run --id `<id>` --branch refs/tags/1.0.0

**Expected behavior**
pipeline with `<id>` is executed using refs/tags/1.0.0

**Actual behavior**
Error: The pipeline is not valid. Could

[2020-04-07 18:18] abergie commented on #988
It seems this commit is where the behavior has been changed. https://github.com/Azure/azure-devops-cli-extension/commit/9076bfbe5bd1511c2f8ed1f85e274a0db51afe7b#diff-46be2ad4e98ca131a0f8cb2ba1c09e96

[2020-04-07 19:04] abergie commented on #988
Opened PR #989

[2020-04-08 14:47] ishitam8 commented on #966
Can you run the command with --debug and share the logs?
Please make sure you are doing this inside the script.
I want to check the extensions path from the logs

[2020-04-08 15:31] abergie commented on #988
PR #989 Merged

[2020-04-08 15:31] #988 closed

[2020-04-10 02:20] Geof23 commented on #955
I'm looking for this capability as well.  Getting a case of 'clickitis' in pool agent list view

[2020-04-12 14:06] jaraco commented on #968
I'd like to configure my pipeline (did you mean "variable group"?) to "Allow access to all pipelines".

Also, I'm unsure I've selected the correct "serviceEndpointId" for the variable group. I created the variable group using the endpoint ending in `958`, but I don't think that was correct and I think that's what led to the error. When I create the variable group manually, I see it assigns a diffe

[2020-04-21 17:26] faelin opened #990 "API resource location not registered"
## Describe the bug
Running any command through the azure-devops extension of the azure-cli gives **API resource location not registered error**

## To Reproduce
### Versioning
[code]

### Steps to Reproduce:
1. login using az login
2. setup defaults (org, project)
3. az devops login
3. Run command `az repos list`
4. See error

### Expected Behavior
List of repos in the defined project.

### Attem

[2020-04-22 13:50] faelin commented on #990
Sigh. My organization URL was missing part of the query path that I thought was unnecessary. It was not. I have resolved my own problem.

[2020-04-22 13:50] #990 closed

[2020-04-23 09:50] wdelmail001 opened #992 "[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Azure Cli Version:
Use az --version
Look for something like-
azure-cli (2.0.70)

Azure-Devops extension version:
Use az --version
Look for something like-
Extensions:
azure-devops (0.18.0)

Steps to reproduce the behavior:
1. login using az login
2. setup defaults..
3. Run command....
4. See error

**Expecte

[2020-04-24 11:39] elduddz commented on #749
I did the same, created a directory with this in (I did have dots in the name) and it worked

[2020-04-24 14:39] bmc-msft opened #993 "publish underlying library as an SDK"
**Is your feature request related to a problem? Please describe.**
I want to programmatically interact with ADO.  The python used for this extension provides the vast majority of the functionality I need, but is focused on the cli.

If you look at most of 'az cli' as it exists today, the underlying functionality is provided within Azure SDK For Python, while the 'az cli' handles all of the cli exp

[2020-04-24 14:45] bmc-msft commented on #993
Nevermind.  I just found https://github.com/microsoft/azure-devops-python-api

[2020-04-24 14:45] #993 closed

[2020-04-25 13:43] msyulw opened #994 "AZ is not working at all. Download keeps failing. Please FIX it."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2020-04-28 20:43] devluizserpa opened #995 "[Feature Request]"
I cannot filter a commit by it id. In azure devops api I have this option, https://docs.microsoft.com/en-us/rest/api/azure/devops/git/commits?view=azure-devops-rest-5.1 in azure-devops-cli I don't have this option.

**Describe the solution you'd like**
Inside repos option I have refs, but I can't get commit message

![image](https://user-images.githubusercontent.com/63870363/80535809-c2c49c80-8977

[2020-04-29 18:19] abarger-bss commented on #977
May be related to https://github.com/Azure/azure-cli-extensions/issues/1551

[2020-04-29 19:08] reynoldsbd opened #996 "[Bug] Incorrect Extension Information"
## Description

The `az version` and `az extension show -n azure-devops` commands show incorrect information about this extension.

## To Reproduce

Azure Cli Version: 2.5.0
Azure-Devops extension version: 0.18.0 (I think ??)

Steps to reproduce the behavior:

1. Run `az version` or `az extension show -n azure-devops`

### Actual Behavior

`az version` produces the following output. Note the incor

[2020-04-29 20:42] cz172638 opened #997 "[Feature Request] - work-items relations add for branch"
i can add work-item relation to child, parent, but not to git branch.
i want to be able do same like in web ui - link already created branch or create new branch.

**Describe the solution you'd like**
```az boards work-item relation add --id $WORKITEM_ID --relation-type Branch --object-id $BRANCH_OBJECTID```

**Additional context**
artifact-link of git branch after creation in web-ui has id not on

[2020-04-30 15:20] kkum opened #998 "az repos requires user authentication despite successfull az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az repos pr list
Extension Name: azure-devops. Version: 1.25.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login` (succesfully display output)
- `az repos pr list`

##

[2020-04-30 16:55] jkewley commented on #996
Seeing  this as well, also testing platform compliance scripts. My `az version` shows
[code]
I just updated my azure-devops extension on Wednesday, so this seems to have happened over the last couple of days. I see that the CLI version 2.5.1 was released today - perhaps related?

[2020-04-30 17:27] reynoldsbd commented on #996
Indeed, the release notes for 2.5.1 mention something about loading the wrong metadata for extensions:

https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md

After upgrading to 2.5.1 the correct information is being displayed.

[2020-04-30 17:27] #996 closed

[2020-04-30 17:35] jkewley commented on #996
@reynoldsbd can you please reopen this? This is still a bug with AZ versions less than 2.5.1, which makes it a breaking change for CLI versions prior to today's release.

[2020-04-30 17:41] reynoldsbd commented on #996
It's not a breaking change, it's a bug, one which has now been fixed in a backwards-compatible patch release of the Azure CLI (2.5.1). Furthermore, since this is an issue with the CLI itself and not the DevOps extension, this repository is not the right place for this issue.

[2020-04-30 17:53] jkewley commented on #996
Well it appears that we are seeing different things, which is interesting.

On Wednesday `az extension add --name azure-devops` installed 1.25.9
Without upgrading to 2.5.1 that extension still reports locally as 1.25.9 with `az version`

Today, for me, the CLI versions 2.2.0, 2.5.0, and 2.5.1 all report 0.18.0 as the available version for the azure-devops extension when running `az extension list-

[2020-04-30 18:11] reynoldsbd commented on #996
You're assuming that `list-available` was impacted by this bug, but I see no evidence of that.

If upgrading your CLI to 2.5.1 fixed the bug, then I don't understand what reopening this issue or opening a new issue will accomplish, as the root cause has [already been fixed upstream](https://github.com/Azure/azure-cli/pull/13222). If you choose to do so anyway, I recommend opening the issue in [the

[2020-04-30 19:06] jkewley commented on #996
For future visitors - it looks like 1.25.8 and 1.25.9 were the bugged versions and 0.18.0 is the current one

[2020-04-30 22:50] jkewley opened #999 "[Bug] yaml pipelines created through cli need to be run once before CI triggers work"
**Describe the bug**
I have a fairly specific test case which I'm having problems with.

We are generating ARM parameter files and yaml pipeline definitions for applications. At the moment we are testing all of this in a feature branch. These are the trigger bits for a sample yaml definition:
[code]
### The Issue
When I use the web interface to create a build definition for a yaml file in the **fe

[2020-04-30 22:59] jkewley commented on #999
Possibly related? #953

[2020-05-01 12:07] andreiverdes commented on #959
Any news on a fix?

[2020-05-06 14:03] abrar1985 opened #1000 "Azure Devops generic service endpoint error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops service-endpoint create
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az devo

[2020-05-06 14:12] abrar1985 commented on #1000
Please close the issue as I found the solution. The json file which I fetch by using the
az devops service-endpoint show --id --org --project
is modified and now it worked.
Thanks

[2020-05-06 14:12] #1000 closed

[2020-05-06 17:32] AbhishekB15 opened #1001 "Az pipeline create command does not work with login using Service Principal or PAT Token in Azure Pipelines"
**Describe the bug**
"az pipeline create" command does not work with az login using Service Principal or PAT Token. User Authentication is required for creation of this resource using Azure Pipeline.
However, if we try to do user authentication in Azure pipeline, it is also supported
"az login -u <> -p <>" use in azure pipeline gives below error.

"Logging in through command line is not supported.

[2020-05-10 13:39] Ashani-Quest commented on #972
Any estimation for this feature? The lack of this feature prevents us from using runtime parameters within our pipelines.

[2020-05-11 16:32] aaronarmagost opened #1002 "missing required files"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifac

[2020-05-13 14:44] mitch-b commented on #965
Hi, the same issue exists in Area Path docs as well. Please see: https://github.com/Azure/azure-cli-extensions/issues/1253

[2020-05-13 19:11] dairik111 commented on #965
Please note that I am experiencing an issue with the --path parameter as it is described in the help documentation.
Error: az : --path parameter is expected to be absolute path.

Version: azure-cli 2.5.1
command-modules-nspkg 2.0.3
core 2.5.1
nspkg 3.0.4
telemetry 1.0.4
Extensions: azure-devops 0.18.0

Statement:
**az boards iteration project create --name $name --org https://dev.azure.com/<myproj

[2020-05-13 19:19] mitch-b commented on #965
@dairik111 are you running as:

[code]

[2020-05-13 19:21] dairik111 commented on #965
Negative. The entire iteration path is being copied from a different project json value as a string.  The $name is not specified separately.

[2020-05-13 19:34] dairik111 commented on #965
Modifying the $iterationPath to emulate the example by @mitch-b did work.  I had to drop the \IterationName portion of the path. I have children under that iteration, so now I need it to work for sub-iterations.  Assumption is that the parent has to exist first, before creating the child.

[2020-05-13 20:46] mitch-b commented on #965
You're right on with parent existing before children. Glad it's working!

[2020-05-13 21:18] dairik111 commented on #965
@mitch-b Thanks for the suggestion!  It wasn't obvious to me what was happening there.

[2020-05-17 15:35] bbandroid19 commented on #706
@atbagga Can you please mention how we can retrieve ROLE_ID using cli?

[2020-05-19 11:08] liamehenderson opened #1004 "[Bug] Latest release of azure-cli 2.6.0 breaks az devops login"
**Describe the bug**
Login to azure devops now fails with the latest azure-cli 2.6.0 release.

echo ${AZURE_DEVOPS_CLI_PAT} | sudo az devops login

Rolling back to azure-cli 2.5.1 fixes the issue

**To Reproduce**
Azure Cli Version:
azure-cli (2.6.0)

Azure-Devops extension version:
Use az --version
azure-devops (0.18.0)

Steps to reproduce the behavior:
1. install azure-cli 2.6.0
2. install azure

[2020-05-19 19:14] joaquin386 commented on #1004
Same problem here

[2020-05-19 19:57] thommiano commented on #776
I'm having the same problem on Mac. I connected to my subscription:

[code]
Logged in via browser and confirmed that my subscriptions appeared connected properly. Installed the extension:

[code]

Attempted to download my artifact (a Python package)
[code]
Then got this:

When I know the PACKAGE, VERSION, and FEED are correct and exist.

[2020-05-19 20:18] ReimerA opened #1005 "problem editing pipelines created using azure-devops extension"
Wen creating a pipeline using the az pipelines create command, the pipeline works fine, but if I edit it in the Azure DevOps web interface (yaml editor), i get this error consistently

![image](https://user-images.githubusercontent.com/9247421/82373086-53dddf00-9a1d-11ea-9128-8a7260ab6451.png)

If I from te web interface delete the pipeline and recreate it (still in the the web ui) pointing to the

[2020-05-19 20:24] rkapoor028 commented on #1004
Same issue with me

[2020-05-20 06:18] thisisthekap commented on #1005
Same issue for me, but with different error:
<img width="562" alt="image" src="https://user-images.githubusercontent.com/9071974/82411645-6fbfa000-9a72-11ea-8c73-223b50d7cbf3.png">

[2020-05-20 06:38] smunj commented on #998
you need to set your default org and project using
az devops configure -d organization={org_name} project={project_name}
and you should login using
az devops login

you will be able to view your repo list without authentication

[2020-05-20 11:04] TiggySravan commented on #1004
same problem for me too... help me in fixing this!
![Capture](https://user-images.githubusercontent.com/44838166/82439158-7a8e2b00-9a9a-11ea-94bc-7b353f1da1e9.PNG)

[2020-05-20 11:11] liamehenderson commented on #1004
Rolling back to azure-cli 2.5.1 fixes it for me, though tracking down the msi for that can be difficult... might need to use chocolately on windows.

I managed it on our linux pipeline with `apt-get install azure-cli=2.5.1-1~buster`

[2020-05-20 11:59] julioarruda commented on #1004
same problem here

[2020-05-20 13:38] richardzaat commented on #1004
Same here

[2020-05-20 14:13] luiscarlosborbon opened #1006 "[Bug] Fails to download artifacts due to artifacttool not available for aarch"
**Describe the bug**
There is not possible to download universal packages from Azure Artifacts because there is not artifactool for ARM architectures.

**To Reproduce**
Azure Cli Version:
azure-cli (2.6.0)

Azure-Devops extension version:
azure-devops (0.18.0)

Artifact Tool Version:
ArtifactTool (0.2.128)

Steps to reproduce the behavior:
1. Spin up a virtual machine based on ARM architecture. Fo

[2020-05-20 18:48] trajano commented on #936
I'm actually getting the sam error but on Windows 10 release preview
[code]

[2020-05-22 07:11] smunj commented on #1001
It is required to login into azure cli before performing the pipeline create operation. One can easily login using "az login" command. Once you've logged in, you can use the pipeline create command. If there is something else you were trying to tell, please attach screenshots of the problem for better understanding.

[2020-05-23 23:17] jaraco opened #1007 "[Bug] SyntaxWarning"
**Describe the bug**

After recent updates to Azure CLI, using 'az devops create', a SyntaxWarning is raised:

[code]

**To Reproduce**
Azure Cli Version: 2.6.0

Azure-Devops extension version:
azure-devops (0.17.0)

Steps to reproduce the behavior:
Run `az devops create`

**Expected behavior**
Warning should not appear.

[2020-05-23 23:24] jaraco commented on #1007
Ran `az extension update --name azure-devops` and that sorted the issue.

[2020-05-23 23:24] #1007 closed

[2020-05-25 10:27] mjiderhamn commented on #877
The title of this issue should be updated to reflect that this only affects artifacts uploaded as zip files (and not directories).

This is quite annoying if you've built your .zip in a CI environment with some "randomly" named, CI internal directory, and you try to `az artifacts universal download` it. You don't get any error message, even `--debug` doesn't show you where the file was downloaded,

[2020-05-25 10:31] mjiderhamn commented on #749
I would like to clarify that you can publish a ZIP file *from the current directory*, but you get this error message if you try to include a path (in addition to filename) in the `--path` parameter.

I.e. this does not work
[code]
nor does this
[code]
while this works
[code]

[2020-05-25 10:34] mjiderhamn commented on #757
I believe this is a duplicate of https://github.com/Azure/azure-devops-cli-extension/issues/749

[2020-05-26 19:12] magleaso commented on #1006
Not sure who owns this, but I think labels Artirfacts-Core and Feature would be more appropriate

[2020-05-26 21:30] shadargee1982 commented on #994
@msyulw: Can you please share the debug logs for helping in troubleshooting.
Run the same command with `--debug`.

[2020-05-26 21:35] shadargee1982 commented on #1002
Hi @aaronarmagost -

A variety of things can be happening during this call so I would like to ask you to go through several steps to help us determine the root of the problem.

**0) Run the same command with `--debug` to get more details.**  Share output as appropriate.

**1) Use ArtifactTool directly**
Please follow the following link after filling out the org name and the os-name (os name should

[2020-05-26 23:11] shadargee1982 commented on #992
@wdelmail001 - this looks like an incomplete bug.  Can you please update with a better summary and description?

[2020-05-27 12:48] mrvarmazyar commented on #1004
Same problem here for this version, I also downgraded to 2.5.1

[2020-05-27 13:36] stealthcold commented on #1004
Same here 😭

[2020-05-27 13:43] rebecca-makar commented on #1004
Same issue as well.

[2020-05-27 20:33] lisaleonard commented on #1004
Impacted us here as well.

[2020-05-27 23:43] mboutet commented on #1004
Impacting us as well. This is preventing builds from running properly.

[2020-05-28 09:39] JvDrunen commented on #1004
Hi Guys,
You can use the environment variable AZURE_DEVOPS_EXT_PAT for authentication in your scripts
to set this in PowerShell use:
`$env:AZURE_DEVOPS_EXT_PAT = "PATKEYHERE"`
or cmd:
`set AZURE_DEVOPS_EXT_PAT = "PATKEYHERE" `

after this you can verify the working with a simple:
`az extension list`

[2020-05-28 13:03] alepauly commented on #1004
see incoming fix here: https://github.com/Azure/azure-cli/pull/13716

[2020-05-28 14:38] liamehenderson commented on #1004
Great! Thanks for the update.

[2020-05-28 17:37] IanSmith21 opened #1008 "failed to download universal package"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2020-05-31 21:01] dkonik commented on #1004
Didn't resolve my issue, but here is the link to an older msi if anyone needs it:
https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.5.1.msi

[2020-06-01 12:09] keluecke opened #1009 "Unable to get latest version in 'az artifacts universal download'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I want to be able to download the latest version of my project's artifacts with a simple command, I have tried
Unable to get latest version in 'az artifacts universal download'

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
[code]

## To Reproduce

[2020-06-01 21:27] apluche commented on #1009
Hi @keluecke,

Could you give more detail as to what command you are using exactly? Are you asking for a version *?

Additionally, could you provide more detailed logs by using the --debug flag?

[2020-06-01 21:34] apluche commented on #1008
Hi @IanSmith21 ,

Could you provide more detailed logs using the --debug setting? Unfortunately, none of the above information can help me debug the issue.

[2020-06-02 19:03] miketimofeev commented on #1004
2.7.0 is out and the issue is gone 🥳

[2020-06-03 16:05] DariuszPorowski opened #1010 "[Bug] Cannot run "az devops invoke" with --in-fille different than json"
**Describe the bug**
No way to upload secure files using az devops invoke command. --in-fille expects only json, where secure file in the library can be different.

az devops invoke --api-version "5.0" --area distributedtask --resource securefiles --organization "https://dev.azure.com/csedevops" --http-method POST --media-type "application/octet-stream" --route-parameters project=terraform-templat

[2020-06-04 14:12] DariuszPorowski opened #1011 "[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Azure Cli Version: 2.70
Azure-Devops extension version: 0.18.0

Steps to reproduce the behavior:
run:
az devops invoke --organization "https://dev.azure.com/myorg" --area "Security" --resource "SecurityNamespaces"
and see error:
--area is not present in current organization

**Expected behavior**
Results the

[2020-06-04 15:41] thommiano commented on #833
Any updates on this?

[2020-06-04 15:50] thommiano commented on #776
Running below got me past this issue.

[code]

However, when it goes to run the download I end up with the error:

[code]

Others appear to have a similar issue: https://github.com/Azure/azure-cli-extensions/issues/554

I'm creating the artifact with below using TwineAuthenticate.

[code]

Using the above I'm able to download the artifact in a build context. The following works

[code]

But I can'

[2020-06-05 14:25] romeomorcia commented on #750
Hello guys, is there any news on this? Thanks!

[2020-06-05 21:03] abergie commented on #988
@narula0781 @ashishonce @romil07 Was wondering when the next release is scheduled? Would like to be able to pull in the fix from PR #989 Thanks!

[2020-06-07 22:32] bryanbcook opened #1012 "[Bug] az devops invoke --area build contains two resources named "changes""
**Describe the bug**
When I use ```az devops invoke``` for [Builds - Get Build Changes](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/get%20build%20changes?view=azure-devops-rest-5.1) it fails and prompts for parameters for [Builds - Get Changes Between Builds](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/get%20changes%20between%20builds?view=azure-devo

[2020-06-07 22:34] bryanbcook commented on #1012
As a suggestion, could the definition be changed to:

[code]

[2020-06-08 13:04] dagett opened #1013 "az repos policy required-reviewer create: Could not resolve identity"
## Describe the bug
When trying to create a branch policy for required reviewer the command

     az repos policy required-reviewer create

 fails with

    Could not resolve identity: DISTRIBUTION_LIST@COMPANY.com

The email-address (a placeholder here) is a distribution list in Outlook containing 12 email addresses. If I re-run the command with a regular email address the command works OK.

**Co

[2020-06-08 16:00] jontreynes commented on #749
I am getting this error even when leaving out the period
![image](https://user-images.githubusercontent.com/19974635/84053271-ac9afa80-a97f-11ea-85e9-83de65c04fba.png)

[2020-06-08 16:08] jontreynes commented on #749
btw. Works just fine on windows with @mjiderhamn's working example
`c:\foo\bar> az artifacts universal publish ... --path baz.zip`

[code]

[2020-06-08 16:42] mjiderhamn commented on #749
@jontreynes , once you've managed to upload the ZIP file, you may hit #877

[2020-06-08 19:05] jontreynes commented on #749
yes, I did run into that @mjiderhamn... weird this was not the case on Feb 19, 2020. I was able to successfully download and upload zips all day a while back

[2020-06-08 19:35] jontreynes commented on #749
so figured out one thing..

When you publish a zip file, put the zip file in a folder with just the zip file

Then use "--path ." and it will upload the zip file as that's the only piece that exists in the folder. When you download artifact, you'll download the zip.

--path needs to receive a "DIRECTORY", not a full path
https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/artifacts/univers

[2020-06-08 19:36] jontreynes commented on #877
fyi @peter-empson-statsnz and @mjiderhamn

https://github.com/Azure/azure-devops-cli-extension/issues/749#issuecomment-640841144

[2020-06-09 06:21] mjiderhamn commented on #749
@jontreynes , unfortunately, putting a ZIP file inside your artifact is not the same thing as making the ZIP file the artifact. (You could place a ZIP file inside your ZIP file artifact as well).

The problem becomes obvious with your example above. The consumer of your artifact would need to know that inside the 0.0.2 artifact version there is a ZIP file with `v.1.0.0` in its name.

[2020-06-09 10:09] AFAde opened #1014 "Issue when trying to download a universal package"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2020-06-11 06:41] MuniKarthik opened #1015 "Not able to retrieve the exact information from az devops project list --output table command"
Facing issue while running then Az DevOps commands and not able to retrieve the exact information as mentioned below.

when we run the below command he gets the expected information
az DevOps project list

Output :

{

  "continuationToken": null,

  "value": [

    {

      "abbreviation": null,

      "defaultTeamImageUrl": null,

      "description": "Project to store development standards",

[2020-06-11 07:53] oliverholliday opened #1016 "[Bug] az pipelines [create|list] --folder-path is inconsistent in how it handles forward slashes"
When creating a pipeline the --folder-path parameter will sanitise `/` into `\` and create the pipeline at the expected path.

When listing pipelines the --folder-path does not sanitise the path separators and returns no results if you use `/`.

I think this is confusing.

**To Reproduce**
azure-cli                          2.7.0
azure-devops                      0.18.0

PS > `az pipelines create

[2020-06-11 10:06] adrianmo commented on #972
In the meantime, you can use the following curl command to queue a pipeline with runtime parameters. The API call is documented [here](https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/runs/run%20pipeline?view=azure-devops-rest-6.0).

[code]

[2020-06-11 10:44] darryljamesheath commented on #545
@ishitam8 This doesn't seem to be the case anymore - [ADO documention](https://docs.microsoft.com/en-us/azure/devops/organizations/security/access-levels?view=azure-devops#visual-studio-subscription-access).

It would be good to have the ability to set a user access level to 'visual studio subscriber' directly with the CLI.

Thanks.

[2020-06-11 11:54] bss20 opened #1017 "Error while adding azure CLI extension 'az extension add --name azure-devops'"
I have installed Azure CLI but facing issue while adding azure devops extension.
Unable to get extension index.
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='aka.ms', port=443): Max retries exceeded with url: /azure-cli-extension-index-v1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x060F1430>: Failed to establish a new

[2020-06-11 12:59] ishitam8 commented on #545
@ashishonce , @narula0781 . Could you please take a look?

[2020-06-12 11:14] ashishonce commented on #1015
issue 1:
for the project list,  the output table is currently only supports 3 columns display , we are taking effort to provide more columns in future release,

coming to query issue 2 and 3:
the correct query for your scenario is as below. "value" was missing.

###     az devops project list --organization <org> --query "value[?visibility=='private'].{ProjectDetails:name , ProjectDescription:desc

[2020-06-12 19:46] jackjfrost commented on #548
This appears to be broken again:

~$ az repos pr update --org <myorg> --id 13469 --status "completed" --bypass-policy true --bypass-policy-reason "force"
Core Promote Pipeline must succeed to update master.

[2020-06-12 19:49] jackjfrost commented on #548
I also tried doing the above in two steps and that didn't work either:

~$ az repos pr update --org <myorg> --id 13469 --bypass-policy true --bypass-policy-reason "force"
~$ az repos pr show --id 13469 --org <myorg> | grep bypass -i
    "bypassPolicy": true,
    "bypassReason": "force",
~$ az repos pr update --org <myorg> --status completed --id 13469
Core Promote Pipeline must succeed to update m

[2020-06-12 20:00] jackjfrost commented on #548
Nevermind, found my issue.

[2020-06-12 23:10] rguthriemsft commented on #725
This is an issue for our project as well.  We have to craft this as a rest call which is quite painful.

[2020-06-16 14:40] jwikman opened #1018 "Cannot create a pipeline with yaml file from another repo"
## Cannot create a pipeline with yaml file from another repo

**Command Name**
`az pipelines create
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create Azure DevOps Project1 and Project2
- Create repository Repo1 in Project1
- Add a y

[2020-06-17 12:05] ankita11194 opened #1019 "get user list sorted by lastAccessedDate in Az devops"
![Capture](https://user-images.githubusercontent.com/66828526/84896003-cc899700-b0c0-11ea-9496-f055f0b4d1ff.PNG)

Not able to get user list in tabular format, as column1 : name, column1 : date

can anyone help?

[2020-06-18 09:58] smunj commented on #1019
Using JMES query, you can run the command
az devops user list --query ["members[].[user.displayName, lastAccessedDate]"]
But this will not give the required solution to your problem.

In case you want a tabular format, you can use PS scripting for an easier implementation
$d = az devops user list | ConvertFrom-Json | Select-Object Expand-Members
$e = $d | Select @{Name="Name";E={$_.user | Select -

[2020-06-18 10:19] ankita11194 commented on #1019
Hi ,

I did the same yesterday and it helped.
But now stuck while integrating it with powershell as I want to mail  the
list of users.
Can you help?

Thank,
Ankita Agrawal

On Thu, Jun 18, 2020, 3:28 PM Sarthak Munjal <notifications@github.com>
wrote:

[2020-06-18 10:39] smunj commented on #1019
What exactly do you mean by integrating with powershell? Can you be more specific as to what exactly do you need help with, maybe attach some screenshot if there is some error, or explain what you are trying to do.

Thanks

[2020-06-18 10:48] ankita11194 commented on #1019
I am trying to get users from azure cli  devops extension and I want those
users monthly .. I need to schedule it as task or something and mail the
result to the team.
Hence I need to integrate it with powershell so I can run enter-pssession
and schedule a task n mail the result. Is something possible here?

On Thu, Jun 18, 2020, 4:10 PM Sarthak Munjal <notifications@github.com>
wrote:

[2020-06-18 12:27] jdholbrook81 commented on #1011
Also getting this trying to register a web hook:

`az devops invoke --organization $organization --http-method POST --area hooks --resource subscriptions --in-file $webhookJsonPath`

Result: --area is not present in current organization

[2020-06-19 23:14] cmielke opened #1020 "[Bug] "Failed to load python executable" when setting variable-group variable when value contains certain patterns"
**Describe the bug**
When I use Azure CLI from PowerShell, I am receiving a "Failed to load python executable" error when I attempt to create or update a variable group variable when the value of the variable contains a "-" (dash) character and ends with ")" (closing paren).

Note that this only happens when I run from PowerShell. When I run from CMD it works without error.

**To Reproduce**
Azure

[2020-06-23 13:21] Blankf opened #1021 "Creating variable or variable group with SAS storage token fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az pipelines variable-group create
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
'ss' is not recognized as an internal or external command,
operable program or batch file.
'srt' is not recognized as an internal or external command,
operable program or batch file.
'sp' is not re

[2020-06-24 12:08] Blankf commented on #983
having the same experience on my azure devops hosts, did you find any solution yet.

[2020-06-24 14:04] DJackman123 commented on #983
No solution to avoid the error completely.  Only a trick to avoid having the error message mess with the console color.

[2020-06-24 20:36] seqdan commented on #776
It seems like two issues are mixed up here:

* The original issue is about `An error occurred while extracting the Universal Packages tooling: [WinError 5] Access is denied:`. The az cli tries to install the Azure Devops "artifacttool" and fails copying it.
* `Can't find the package PACKAGE with version VERSION in feed FEED.` looks like an issue finding a feed, but the "artifacttool" seems to work

[2020-06-26 07:04] moanrose opened #1022 "Az Devops Invoke throws unexpected error when invoking pipelinePermissions/pipelinePermissions route"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When trying to authorize my pipeline to use an Azure Resource Manager Service Connection, using the following powershell command:

"{`"pipelines`":[{`"id`":$($pipeline.id),`"authorized`":true}]}" | Out-File "patch-auhorize-testpipeline.json"
az devops invoke --api-version "5.1" --area "pipelinePermissions" --r

[2020-06-26 10:46] JamesStanley opened #1023 "[Bug] az devops security group create fails when using --origin-id"
**Describe the bug**

When using an Azure DevOps pipeline with the System.AccessToken the following command fails:

az devops security group create --origin-id $($existingAzureAD_GroupObjectId) --groups $($vssgp.someDescriptorForGroup) --scope organization --org https://dev.azure.com/$($organization)

Error message:

request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host=

[2020-06-28 05:51] rajakesar commented on #905
Is there any plan in the works to offer something other than a Personal Access Token for automation?  This issue has been open since November.

[2020-06-29 04:28] karataliu commented on #959
@praveen-pk is there any update on this?

[2020-06-30 08:14] langecode commented on #905
We have a similar case using FluxCD for GitOps. The FluxCD process (running in our Kubernetes cluster) needs to be able to do a Git pull against Azure DevOps. Currently we configure FluxCD with a PAT, however, it is really not very convenient to store a real users token as part of the CI/CD setup - what if this person leaves the company? Would much prefer to be able to do such things using a servi

[2020-06-30 10:54] PhilipSkinner commented on #905
Not only that, its inconsistent with how the tools work on your local machine.

Make one set of CLI tools and use them everywhere, don't make several versions - how on earth are we supposed to gain any confidence in our pipeline definitions when the commands we run locally function differently to those on the CI? Basic stuff guys.

[2020-06-30 12:45] A30004028 commented on #856
To get this straight, we are able to download a package using `az artifacts universal` but we have no way of knowing about the existence of that package prior to this using the az cli tool.

[2020-06-30 16:28] shadargee1982 commented on #1002
No response from submitter.  If the problem persists, please create a new ticket.

[2020-06-30 19:49] shadargee1982 commented on #1002
Closing out due to no activity.  Please create a new issue if the problem persists.

[2020-06-30 19:49] #1002 closed

[2020-06-30 19:50] shadargee1982 commented on #994
Closing out due to no activity. Please create a new issue if the problem persists.

[2020-06-30 19:50] #994 closed

[2020-06-30 19:50] shadargee1982 commented on #992
Closing out due to no activity. Please create a new issue if the problem persists.

[2020-07-01 16:22] praveen-pk commented on #959
I pinged the team that owns this bug. The owning team will provide an update on this bug.

[2020-07-08 04:40] rodney-almeida commented on #1023
I was having the same problem. Seems to be a permission issue and found granting the respective Build Service account "Edit instance-level information" on the organization level resolved the issue

[2020-07-10 16:42] A-AontwSR commented on #150
We recently migrated our on-premise Azure DevOps Server 2019 to Azure DevOps Services. And are now updating our management tools.
We have about 40 custom tasks that we maintained for our organization. We use a PowerShell script with Invoke-RestMethod to call the api to upload the custom task zip's. We would like to start using the azure-devops-cli extension. But can't find a command to list / uplo

[2020-07-10 20:32] frolov-andrey-elanco opened #1024 "[Bug] yaml pipelines created through cli have triggers enabled even when they defined as none"
**Describe the bug**
I have a simple pipeline with below block configured as per documentation, that disables triggers:
[code]
Pipeline created with below command:
`az pipelines create --name "${PIPELINE_NAME}" --branch "${TARGET_BRANCH_NAME}" --folder-path "${PIPELINE_PATH}" --org "${ORG_NAME}" --project "${PROJECT_NAME}" --repository "${TARGET_PIPELINE_REPOSITORY_URL}" --yaml-path "${TARGET_PIPE

[2020-07-10 21:11] frolov-andrey-elanco commented on #1024
According to the code it appears that triggers block is always included into definition:
[code]

In that case it is likely a feature request to disable triggers and pass a null as it is shown in the definition after manual disable in the UI:
[code]

[2020-07-14 18:36] vsaroopchand commented on #1001
Try `az devops login` with your PAT, see docs [here](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops?view=azure-cli-latest#ext-azure-devops-az-devops-login). You run az devops login before any az pipeline commands.

[2020-07-15 03:10] haroldrandom opened #1025 "[Question] How do you develop this extension"
Hi, guys, I am fron Azure/azure-cli.

We are considering onboarding a feature on azdev which is used to develop Azure CLI and Azure CLI extension, and that feature might break some existing UX.

I would like to know how do you develop this extension and make sure whether we could onboard that feature.

Could you give a brief introduction like how to run linter, how to run test, how to orginaze wit

[2020-07-20 09:22] gaochundong commented on #204
+1 for this feature. Uploading a secret file.

[2020-07-22 19:37] vkocur opened #1026 "Failed downloading artefact from DevOps artifacts"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.16.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2020-07-22 21:05] tobybrad opened #1027 "az devops service-endpoint list fails to list an endpoint that never becomes isReady == true (ACR) [Bug]"
**Describe the bug**

After creating an ACR service endpoint via CLI, it can't be listed until the operation succeeds (which it may not) which effectively orphans the endpoint from the CLI point of view.

**To Reproduce**
Azure Cli Version:
azure-cli                          2.9.1

Azure-Devops extension version:
azure-devops                      0.18.0

Steps to reproduce the behavior:
[code]

Us

[2020-07-23 13:22] mmigala commented on #1017
any updates on this issue ?

[2020-07-23 13:27] bss20 commented on #1017
The issue was related to proxy, either we can set proxy variable as permanent solution or use set proxy command.

[2020-07-23 13:27] #1017 closed

[2020-07-23 14:32] idjohnson commented on #763
Any progress on this?  Seems i might have to abandon my release pipelines if i cant automate overrides

[2020-07-24 13:32] rbpierce1 commented on #891
As a note to any trying to solve a similar problem to the one above. We ran into the above issue, and isolated it to an SSL Inspection function in our network security application (ZScaler). Bypassing SSL Inspection for the URL solved the issue.

[2020-07-24 14:55] #1025 closed

[2020-07-25 05:08] codars opened #1028 "[Bug] Cannot query versionDescriptor.version with azure devops invoke"
**Describe the bug**
A clear and concise description of what the bug is.

According to
[az devops invoke](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops?view=azure-cli-latest#ext-azure-devops-az-devops-invoke)
[Items - Get](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/items/get?view=azure-devops-rest-6.0)

I tried to get a file from azure-devops git with specific

[2020-07-25 15:40] bluca opened #1029 "[Bug] tests import fails due to None being added to sys.path by conftest.py"
**Describe the bug**

Tests fail to run on build machine due to tests/__init__.py calling get_importer(None) from pkg_resources after conftest.py appended None (as returned by azure.cli) to sys.path. Full backtrace and exception:

[code]

**To Reproduce**

```$ python3 -m pytest --collect-only --assert plain```

**Additional context**

It looks like azure.cli.core.extension.get_extension_path() ca

[2020-07-27 19:23] carlosonunez commented on #1001
I also ran into this issue upon providing the PAT as an environment variable. I would have liked to use `az devops login` and specify the PAT that way, but I then ran into [this](https://github.com/Azure/azure-devops-cli-extension/issues/936) issue.

[2020-07-27 21:45] carlosonunez opened #1031 "[Bug] az pipeline create fails intermittently"
**Describe the bug**

I am trying to create an Azure DevOps Pipelines pipeline with the CLI. I am attempting to do this with a PAT. The PAT has full access to all services offered within the Azure DevOps project into which the pipeline is being deployed.

This was not working for me earlier today. When I ran:

[code]

I got this error:

[code]

Issuing a `GET` request to that URL gave me a 403 whe

[2020-07-27 21:56] carlosonunez opened #1032 "[Bug] az pipeline create hides validation errors in debug logs"
**Describe the bug**

If you create a pipeline whose YAML or JSON fails validation, you'll only see this:

[code]

Instead of this (for example)

[code]

Which is problematic because the pipeline still creates itself:

[code]

**To Reproduce**
Azure Cli Version:
[code]

Steps to reproduce the behavior:
1. Run `az pipeline create` with your PAT as an environment variable. Ensure that `--yaml-path`

[2020-07-28 04:58] alhazem opened #1033 "Uploading zip file to Azure Artifacts"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifac

[2020-07-29 20:34] carlosnunez-10m opened #1034 "`az devops extension install` asks for "extension-id" and "publisher-id" but really wants names."
[Reference](https://github.com/Azure/azure-devops-cli-extension/blob/accd854214d002bd5f22dffd5b9131b45c0da661/azure-devops/azext_devops/devops_sdk/v5_0/extension_management/extension_management_client.py#L90-L109)

## Summary

See the subject.

## Expected behaviour

[code]

## Actual Behaviour

[code]

## How To Resolve

Either:

1. Change these parameters to `--extension-name` and `--publisher-n

[2020-07-31 20:53] eosfor commented on #891
@apluche @geverghe , colleagues, just stumbled upon this thread. We are looking to using universal packages as an "artifactory" for our deployments. There are cases where we cannot just use the tool, for instance we would like to be able to point azure webapps and their Kudu engine at an artifact via some HTTP URL, similar to a SAS token URL of a storage account. This would greatly simplify the pr

[2020-07-31 23:24] jmo-gelsight opened #1035 "Universal Package download hangs after downloading"
## I have a number of universal packages in a feed that have all been working fine for a while.  My build pipelines consume them.  Today, one of those downloads that's worked fine for a while now just hung my pipeline.

So I fired up the CLI to manually test it out and that hung too.  I tried a few times, waiting as long as 10 minutes.  The package is tiny.

Looking at the disk I can see it did do

[2020-08-01 00:25] jmo-gelsight commented on #1035
I suspect this should be closed this because after a few hours, this has suddenly started working again.  I guess it was an Azure DevOps issue.  Network issue.  (At one point I even got Azure DevOps error page "we're unavailable right now" message which was led me to try again.

I  don't know if this is still something that the CLI tool people want to try to account for or not.

[2020-08-03 18:11] thetoolsmith commented on #808
any progress on getting this feature?

[2020-08-03 21:12] samuelkoppes commented on #977
Closing due to inactivity, please reopen if the issue is still occurring.

[2020-08-03 21:12] #977 closed

[2020-08-03 21:15] samuelkoppes commented on #940
Thank you for sharing this feature request. Unfortunately we are unable to take this request at this time due to capacity constraints, but we will continue to monitor customer feedback to see if this topic comes up again. If more customers express interest, we will consider prioritizing this feature.

[2020-08-03 21:15] #940 closed

[2020-08-03 21:16] samuelkoppes commented on #900
Closing due to inactivity, if this issue continues to surface please reopen and provide logs.

[2020-08-03 21:16] #900 closed

[2020-08-03 21:29] samuelkoppes commented on #833
Closing due to inactivity, please reopen if the issue is still occurring.

[2020-08-03 21:31] samuelkoppes commented on #830
Closing due to inactivity, please reopen if the issue is still occurring.

[2020-08-03 21:31] #830 closed

[2020-08-03 21:38] samuelkoppes commented on #630
Closed due to inactivity, please reopen if you are still seeing this issue.

[2020-08-03 21:38] #630 closed

[2020-08-04 20:17] bcrosser opened #1036 "Just trying to download a universal package I published."
## Describe the bug

Published a universal package, then attempted to download it using the command on the azure dev ops page, but it fails with some error.

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitiv

[2020-08-07 21:08] virzak commented on #833
This issue is definitely still occurring

[code]

[2020-08-09 22:08] ivanhoe1982 commented on #966
Is there any update on this problem? I have hit exactly the same issue, I am using a self-hosted agent on a stock Azure Ubuntu VM and I am trying to use storage-preview extension instead. Behavior is identical to the one described above: extension is installed, it works if I use it from the agent in an interactive mode, but it does not work if invoked from a pipeline.

[2020-08-10 08:47] javiplx opened #1037 "repository policy listing by id not working"
## Describe the bug

The argument `--repository-id` for `az repos policy` does not work as expected.

**Command Name**
`az repos policy list
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**
No policy is listed although there are policies  applied to that repositry

## To Reproduce:

The two commands below should produce the same output, but only the seconds produces response
[code]

##

[2020-08-10 11:40] gyssels opened #1038 "[Bug] Different Behavior on "az repo pr create" and web interface"
**Describe the bug**
A clear and concise description of what the bug is.

When creating a merge from the interface ALL work-items from the git commit are linked to the PR. while doing the command lin the work-items need to be enumerated with the switch "--work-items". Its upset my team as we carefully enlist our work-items on commits. Some of my developers are stoping to link on commits... intrudi

[2020-08-10 11:54] gyssels opened #1039 "[Feature Request] az repos pr update "--work-items""
**Is your feature request related to a problem? Please describe.**
we actually cannot update the work-items (Add/Remove) attached to the pull request(PR)

**Describe the solution you'd like**
Add the swicth to work-items to the work-items (Add/Remove) attached to the PR

** az repos pr update "--work-items +#61 -#37" or like **

[2020-08-10 20:53] rubberduck203 commented on #833
@samuelkoppes this is definitely still an issue.
Please reopen.

[2020-08-10 21:06] herenhuang commented on #984
Hey @geverghe - PM on the Artifacts team here. We're tracking adding this info to our docs. Thanks for the suggestion.

[2020-08-12 17:44] akitching opened #1040 "[Feature Request] Add support for managing Status Check policies"
**Is your feature request related to a problem? Please describe.**
There don't appear to be commands for creating and managing Status Check policies, even though policies created in the UI are reported when using `az repos policy list`.

**Describe the solution you'd like**
Add a new status-check subgroup under policies with create and update commands to match the other policy types.
`az repos pol

[2020-08-13 11:53] JvDrunen commented on #856
Any update?

[2020-08-24 19:20] vsaroopchand opened #1041 "[Bug] az repos import create returns HTTP/400 when both git-source-url and repository are in the same AZDO Org."
Attempting to move a git repo from one project to another under same Organization with
az repos import create --git-source-url https://PAT@dev.azure.com/MYORG/MYPROJECT/_git/MYREPO --repository NEWREPO -

Expected Result:
Repository successfully imported.

Actual Result:
The operation returns HTTP/400 BadRequest when both Source & Destination Projects are under the same Org.

**To Reproduce**
Azur

[2020-08-24 20:21] anlsh-msft opened #1042 "[Feature Request] Artifacts: inspecting directory structure & download specifiers?"
The Problem
---------------

Our team is using Azure DevOps to manage our builds, and every so often needs to download artifacts from pipelines. We wanted a CLI for doing so, and some research turned up the Azure CLI.

However, it doesn't look like the CLI has all the functionality which the DevOps website does.

For one, the website can detect whether an uploaded artifact is a folder, and will al

[2020-08-24 21:29] samuelkoppes commented on #891
Closing as original issues are resolved. @eosfor please open a new issue with your questions.

[2020-08-24 21:29] #891 closed

[2020-08-24 21:35] samuelkoppes commented on #856
Thank you for sharing your feature request. We have taken this into our backlog for consideration. Unfortunately we cannot provide a timeline at this time, but we will consider this request as resources become available in the future.

[2020-08-24 21:37] samuelkoppes commented on #852
Thank you for your feature request, we have taken this request into our backlog and will prioritize as resources become available.

[2020-08-24 21:44] samuelkoppes commented on #776
@thommiano Please make sure your configuration is set up correctly per the Azure Artifacts documentation. Also verify that the package and version you are looking for are available in the target feed.

@seqdan Please let us know if you see this issue again.

[2020-08-24 21:44] #776 closed

[2020-08-24 21:50] samuelkoppes commented on #749
Closing as the original problem is addressed.

[2020-08-24 21:50] #749 closed

[2020-08-25 13:04] ggirard07 commented on #856
@samuelkoppes seriously?!?

How do you expect a package system to be widely used in the field without having the option to list available packages?
Can you point me to any package system out there not offering this option?

I understand that the original request here is perhaps a bit complicated to implement.
But a more simpler version, without all the options mentioned by @praveen-pk, [surfacing

[2020-08-25 16:50] carlosonunez opened #1043 "[Bug] az pipelines variable delete does not work with —variable-name"
**Describe the bug**
Running:

[code]

does not work. However, running:

[code]

does. This works as intended when one runs `az pipelines variable create`.

`—pipeline-name` seems to be a supported parameter when running `az pipelines variable delete —help`.

Upon looking at `—debug`, it seems that the client tries to do this:

[code]

instead of this

[code]

**To Reproduce**
Azure Cli Version: 2

[2020-08-25 20:11] snaik2016 commented on #910
still facing this issue with the command az extension add -n azure-cli-ml
Removed pip.ini but still stuck in "Installing" if I press enter it ask for a password

[2020-08-25 20:25] Csutiman commented on #569
I think I'm observing the same issue which has been reported originally by @tekgiant with the latest version of cli.

**Error:**
Encountered an unexpected error.
ArtifactTool.Commands.PipelineArtifacts.PipelineArtifactDownloadException: Artifact with name 'drop' was found, but is of type 'Container'.

**Versions:**
  "azure-cli": "2.10.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli

[2020-08-26 17:30] edgarrs commented on #833
This looks like a Build Artifact issue

[2020-08-27 07:34] willemm opened #1044 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
We're running a script to create and manage policies in a gitops way, but we're having to write each config to a temporary file to be able to create/update these.

**Describe the solution you'd like**
Almost all commandline tools that read files support using the '-' character as a special filename to indicate that it should read f

[2020-08-27 07:37] willemm commented on #816
Ah I created #1044 and only after, I saw that thsi existed.

The standard way to enable file reading from stdin is to use '-' as a filename.

So: sed -e 's/MY_PASSWORD_TOKEN/MY_ACTUAL_PASSWORD/' foo.json | az devops service end-point create --service-endpoint-configuration -

[2020-08-31 17:08] sorvis opened #1045 "SSL Error"
## Describe the bug

I've been hitting this SSL error. After googling around and doing some reading I have tried:
* Disconnecting from my companies VPN
* Setting environment varibles
** AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1
** set all_proxy=
** set HTTPS_PROXY
** set HTTP_PROXY
* `"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -c "import requests; print(requests.get('https://l

[2020-09-02 15:38] ankur8 commented on #959
any update on this we are getting on centos machine same error ?

[2020-09-03 09:24] jarpsimoes commented on #1018
Hi,

I've the same issue. How can I do a workaround to that?

Best regards,

[2020-09-03 09:35] jwikman commented on #1018
@jarpsimoes I worked around this by using DevOps API for this instead: https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/create?view=azure-devops-rest-5.1

[2020-09-04 07:56] jayakumarj85 commented on #988
Is this issue fixed. I am still getting the same error while trying to select a tag before running the pipeline?

[2020-09-04 23:23] tasb commented on #1011
I'm having the same issue too. Any update on this?

[2020-09-06 09:32] ashishonce commented on #1011
I see that command
az devops invoke --organization "https://dev.azure.com/<yourorg>" --area "Security" --resource "SecurityNamespaces"

has two step process

first step :
is invoking below API
https://dev.azure.com/yourorg/_apis/ResourceAreas
to get list of all resource areas, and only when provided area is found in the list

it proceeds with particular url for resource within that area. That will

[2020-09-06 09:36] ashishonce commented on #1019
@ankita11194 closing this issue as has been stale for long.
Please feel free to open is again , in-case required.

[2020-09-06 09:36] #1019 closed

[2020-09-07 19:20] jarpsimoes opened #1046 "[Feature Request] Create a pipeline with yaml from another repository"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I cannot create a project..
When we needs create a pipeline with AZ CLI with yaml present on another repository, as available on UI, now the CLI return error 404 if try with that command:

`pipelines create --name <pipeline_name> --branch master --org <organization url> --

[2020-09-08 05:50] ashishonce commented on #689
@gauravsaralMs can we close this issue? Not sure about current state of this.

[2020-09-08 05:53] gauravsaralMs commented on #689
@ashishonce : so last I remember (please confirm)
DevOps extension is now installed on windows hosted agents but not in Linux.

It will be better if present owners can take the call to close it in the current state or keep it open.

[2020-09-09 18:28] zhenghao104 opened #1048 "[Bug] Az CLI does not pass along exit code from ArtifactTools"
When artifacttools return an exit code from [this ](https://dev.azure.com/mseng/AzureDevOps/_git/ArtifactTool?path=%2Fsrc%2FArtifactTool%2FErrorCode.cs) list it doesn't get pass along to AZ cli interface and always show exit code 1.

Azure-Devops extension version: :
azure-devops (0.18.0)

Steps to reproduce the behavior:
Trigger any error listed in the list above. For example, attempting to publi

[2020-09-14 01:23] vairakkumar-vairaperumal opened #1050 "No option to pass or configure the source import repo user PAT token or password and or use SSH key"
No option to pass or configure the source import repo user PAT token or password and or use SSH key
https://github.com/Azure/azure-devops-cli-extension/blame/master/tests/test_reposImportTest.py

**To Reproduce**
Azure Cli Version: 2.11.1
Use az --version
Look for something like-
azure-cli (2.0.70)

Azure-Devops extension version:  0.18.0
Use az --version
Look for something like-
Extensions:
azure

[2020-09-14 11:36] las3r commented on #905
Why was this put "on the backlog"? In my honest opinion this is one of the basic authentication flows that are supported all through Azure, with Azure DevOps being an outlier.

For reference, we are trying to create Azure Repos from a CI-pipeline to automate our "request a repo" feature. Without an SPN we will need to generate a PAT. This PAT will need to be an Administrator PAT, which leads to a

[2020-09-15 00:53] trolfu commented on #1020
I have also encountered this issue, but my use case is queuing a pipeline while updating a variable with a `)` in the value.

**To Reproduce**
azure-cli 2.11.1
azure-devops 0.18.0

Open PowerShell
Run:

$pipeline = Invoke-Expression "az pipelines build queue --organization https://dev.azure.com/myOrg/ --project 'My Project' --definition-id $id --branch master --variables ""A_VAR_NAME=some(value)""

[2020-09-16 00:51] luisen22 opened #1051 "az artifacts universal download issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.12.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifa

[2020-09-17 07:28] ashishonce commented on #1004
Closing this as Azure CLI fix mentioned above fixes it. Azure/azure-cli#13716

[2020-09-17 07:28] #1004 closed

[2020-09-17 10:00] The-Judge commented on #931
+1

[2020-09-18 16:40] omokoh commented on #877
Closing this issue as has been stale for long.
Please feel free to open is again , in-case required.

[2020-09-18 16:40] #877 closed

[2020-09-18 16:42] omokoh commented on #826
Closing this issue as has been stale for long.
Please feel free to open is again , in-case required.

[2020-09-18 16:42] #826 closed

[2020-09-21 21:50] #757 closed

[2020-09-21 21:52] #852 closed

[2020-09-28 15:24] vsaroopchand commented on #1041
If anyone else encounters this issue, we resolved by creating a Service Connection in the Destination Organization. The Service Connection uses Basic Authentication (UN, PW) that was generated from the Source Repo. You then pass the Service Connection with args [--git-service-endpoint-id] && [--requires-authorization], see complete list of arguments [here](https://docs.microsoft.com/en-us/cli/azur

[2020-09-28 15:24] #1041 closed

[2020-10-01 16:03] babin93 opened #1053 "Support for pipelines environment"
Support for pipeline environments in the cli would be great,

[2020-10-02 19:44] xinyi-joffre opened #1054 "[Feature Request] Support Azure DevOps Extension create/package"
**Is your feature request related to a problem? Please describe.**
Currently, I need to leverage both `az devops` and `tfx extension` to complete my workflow for managing extensions and customizing Azure DevOps.

It would be great if `az devops` could take care of this functionality as well since there is already a heavy amount of overlap between these tools.

**Describe the solution you'd like**

[2020-10-05 09:05] NenoLoje opened #1055 "Question: Azure DevOps extension in offline environments"
How to set up the Azure DevOps extension in an **offline environment**?

I see that the Azure CLI supports installing from a local source like this:
` az extension add –source …`

… but this doesn't seem to be enough. (It fails when it runs "pip", which tries to connect to public sources…).

Any tips on how an offline / or x-copy-like deployment looks like?

[2020-10-06 20:41] mgnsm opened #1056 "PersonalAccessToken not set on GitHub Service Endpoint"
Azure Cli Version:  2.12.1
Azure-Devops extension version: 0.18.0

I am trying to create a GitHub service connection using the `az devops service-endpoint github create` command but I can't seem to set the personal access token (PAT).

Steps to reproduce:

1. Create a [GitHub PAT](https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token)
2. S

[2020-10-06 22:06] jkewley commented on #1001
Fairly certain that this used to work. We tested the scenario where users were logged in to CLI with one account while using a PAT from another. Our script creates a pipeline and board items by piping a PAT to `az devops login`. It worked until recently, seemingly when users upgraded CLI to 2.11.1 from 2.9.1

[code]

What's interesting is that the error surfaces as lack of access to the repository

[2020-10-07 11:42] quasarea opened #1057 "[Bug]"
**Describe the bug**
Following "Get the tools" manual on https://dev.azure.com connect to feed for universal packages
Installed Azure CLI 2.12.1
Executing
[code]
leads to:
[code]
using --debug:
[code]
full log attached

**To Reproduce**
Azure Cli Version: 2.12.1

Azure-Devops extension version:
azure_devops-0.18.0-py2.py3-none-any.whl (thats what its trying to install

Steps to reproduce the behav

[2020-10-08 14:02] templafymek opened #1058 "Newline character is not respected"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I want to update the default message with a custom message that has newlines but the CLI is not respecting my newline characters. I've tried `` `n, \n, \\n ``

**Command Name**
`az repos pr update
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Not

[2020-10-08 15:00] templafymek commented on #1058
Actually it is related to #160 but now for also --merge-commit-message.

I noticed if you don't apply the option to the cli and click 'Set auto-complete', in the background DevOps actually does it by nature. The only thing which is needed is to enable it for the cli also like the description field.

[2020-10-08 15:58] subhendu-de opened #1059 "Meaning of --object-id in [az repos ref create] command"
I am calling the following command to create a repo in ADO project. The repo is created successfully.

`$env:AZURE_DEVOPS_EXT_PAT = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'`
`az repos create --name $RepoName --project $Project --organization $Organization | ConvertFrom-Json`

Now I would like to initialize the repo with master branch to setup the policy for the branch. I fire the command below

`
az re

[2020-10-08 17:31] PatrickHutch commented on #1057
Same issue here as well.

[2020-10-08 21:44] eedrah opened #1060 "[Feature Request] Set required reviewers on a PR"
**Is your feature request related to a problem? Please describe.**
I cannot set required reviewers on a PR

**Describe the solution you'd like**
Currently we can set optional reviewers with `az repos pr create  --reviewers 12817241-2342-9867-983749829`

I propose the following, which also would clarify the intent of the flag:

[code]

If backward compatibility is required then the `--reviewers` fl

[2020-10-09 11:26] jrydow commented on #204
+1 for this. This would be really useful to be able to update secrets efficiently for terraform based pipelines.

[2020-10-09 17:36] subhendu-de commented on #1059
The --object-id points to the commit ID that master is set to. Now there is no previous commit ID for the master branch of a newly created repository. So I did a small trick here

`$env:AZURE_DEVOPS_EXT_PAT = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'`
`az repos create --name $RepoName --project $Project --organization $Organization | ConvertFrom-Json`
`az repos ref create --name "heads/master" --object-

[2020-10-09 17:36] #1059 closed

[2020-10-13 16:15] bitsofinfo commented on #743
omg, are you kidding me? this is not supported .... apparently still?

[2020-10-13 16:15] bitsofinfo commented on #743
@LasseNisted can you please share your workaround?

[2020-10-13 17:16] bitsofinfo commented on #743
for anyone else fumbling around in the dark on this, you can do it manually w/ the API, this seems to work

Get a PAT token for your user:

[code]

[2020-10-15 06:43] JvDrunen commented on #856
Any update? this would be a very hand feature.

[2020-10-17 13:08] dhilmathy commented on #876
@atbagga I am planning to introduce a new command called `cancel`.

**Command signature**
[code]

Will submit a PR if above command seems fine for you. Thanks!

[2020-10-18 20:16] sanjeev40084 opened #1061 "Hide Azure DevOps Services using CLI"
Is there a way to hide Azure DevOps services like (Boards/Repos/Test Plans) using  DevOps cli tool. Didn't find anything in documentation site: https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/?view=azure-cli-latest
It looks like there is a way you can hide it using rest-api: https://www.teapotcoder.com/post/vsts-disable-features-services-api/  However i am using scaffolding example fro

[2020-10-19 05:36] atbagga commented on #876
@dhilmathy Sorry, I am not a maintainer in this repo anymore.
Tagging the owners for attention.. @Azure/azure-devops-cli

[2020-10-21 18:15] JKrag commented on #952
I obviously can't test it as it isn't supported yet, but it looks to me like having this supported would also be the only way to create a pipeline if you need to use a Service connection to authenticate instead of a personal OAuth user? At least it is in that context that I went searching for a solution and thought for a moment that `az pipelines create` could help, until realizing that it didn't

[2020-10-22 19:51] qcc-na commented on #833
Info:
[code]
I ran the following command after running `az devops login` with a newly created full access token.

`az artifacts universal download --organization "https://dev.azure.com/REMOVED/" --feed "REMOVED" --name "REMOVED" --version "REMOVED" --path . --verbose`
[code]

If i run `az login` and then the original download command again, I get:
[code]

[2020-10-23 15:23] stuartjsmith commented on #1057
I also see this issue, cannot figure out how to resolve or how to fix my environment

[2020-10-23 15:57] hdiass opened #1062 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
I would like to approve multiple release at same time, without being clicking on a UI. There is no solution to approve stages in a programmatic way, which is a huge release bottleneck.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Have the ability to approve stages release via cli

[2020-10-26 11:44] stefanes opened #1063 "NuGet package promotion fails using 'az devops invoke'"
## Describe the bug

Adding a NuGet package to a view fails using `az devops invoke`. Using `--area nuget` seems to direct the call to `artifacts.dev.azure.com` instead of `pkgs.dev.azure.com` causing the command to fail. Is this caused by duplicate `nuget` areas listed by `https://dev.azure.com/{org}/_apis/ResourceAreas`? Or how can I make the command go look at the correct area?

**Command Name*

[2020-10-26 14:00] stefanes opened #1064 "Npm package promotion fails using 'az devops invoke'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Adding a Npm package to a view fails using `az devops invoke` with `--area npm`,  `--resource Versions`, and `--route-parameters feedId={feedId} packageName={packageName} packageVersion={packageVersion}`.

Is this caused by duplicate `npm`/`Versions`? Or how can I make the command use the correct resource bloc

[2020-10-27 08:25] nietras commented on #953
@aglorei what the status of this bug? When will it be resolved? A lot of us are getting hit by this and it causes lots of headaches 😅

[2020-10-28 02:22] whatisalwaystrue commented on #998
@smunj  The issue is with using MSA accounts via `az login` which the docs say are supported.  Your example uses `az devops login` which prompts for a token.   Do you have a solution for MSA accounts?

[2020-10-29 15:51] Sharath52 commented on #762
Hi All, I am having the same issue when i try to login into azure devops using `az devops login --org https://dev.azure.com/{ORGNAME}` From within azcli container..But its working locally..Any additional changes needs to be done in the container?? This is the ouput.

`Failed to store PAT using keyring; falling back to file storage.
You can clear the stored credential by running az devops logout.
R

[2020-11-05 03:56] swkoganti opened #1065 "[Feature Request]How to get list of work items in azure boards using a command in Azure CLI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I cannot create a project..

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
e.g. If you want a new command to be added, what would it do?

**Additional context**
Add any other context or screenshots about the feature reques